@mixin display($media-suffix) {

  .db#{$media-suffix}   { display: block; }
  .di#{$media-suffix}   { display: inline; }
  .dib#{$media-suffix}  { display: inline-block; }
  .dn#{$media-suffix}   { display: none; }
  .dt#{$media-suffix}   { display: table; }
  .dtc#{$media-suffix}  { display: table-cell; }
  .df#{$media-suffix}   { display: flex; }
  .dif#{$media-suffix}  { display: inline-flex; }
  .dg#{$media-suffix}   { display: grid; }

}
