@mixin line-height($media-suffix) {

  .lh-header#{$media-suffix} { line-height: $line-height-headers; }
  .lh-text#{$media-suffix}   { line-height: $line-height-text; }
  .lh-extra#{$media-suffix}  { line-height: $line-height-extra; }

}
