{#
    SPDX-FileCopyrightText: 2024 Cas Dijkman

    SPDX-License-Identifier: GFDL-1.3-only
#}

{% extends "docs/layouts/default.njk" %}

{% set description = "Create your own C4S" %}

{% block content %}
    <div class="container center ph3 mv3">
        <form class="js-custom-modules-form measure" style="display: none;">
            <h2>Custom C4S stylesheet</h2>

            <b>Select&hellip;</b>
            <ul class="list-reset pl4 mv3">
                <li class="flex">
                    <span class="mr2">›</span>
                    What modules you want
                </li>
                <li class="flex">
                    <span class="mr2">›</span>
                    If modules should be responsive
                </li>
                <li class="flex">
                    <span class="mr2">›</span>
                    <div>
                        What order modules should be loaded.
                        <div class="di dn-l">This feature is only available on desktop</div>
                        <div class="dn di-l">
                            Order modules by dragging them with
                            <div class="svg-wrapper dib v-mid ml2">
                                {% include "docs/icons/bootstrap/grip-horizontal.svg" %}
                            </div>
                        </div>
                    </div>
                </li>
                <li class="flex">
                    <span class="mr2">›</span>
                    If you want to minify the CSS output or not
                </li>
            </ul>

            <p>
                To generate, click the button at the bottom of the page.
                <br>
                Generating custom stylesheets may take a while.
            </p>

            <h3>Modules</h3>

            <ul class="js-reorder-list list-reset mv3">
                {% for file in files | rejectattr('isMinified') | rejectattr('isRaw') | selectattr('isModule') %}
                    <li class="flex flex-wrap items-center ph2 ph3-m pv1 mt1-between ba br2 column-gap row-gap"
                        draggable="true">
                        <label class="flex-grow-1">
                            <input type="checkbox" name="module-{{ file.name }}"
                                {{ "checked" if file.isEnabled }}>
                            {{ file.name }}
                        </label>

                        {% if file.responsiveAble %}
                            <label>
                                <input type="checkbox" name="module-{{ file.name }}-responsive"
                                    {{ "checked" if file.isResponsive }}>
                                Responsive
                            </label>
                        {% endif %}

                        <div class="svg-wrapper dn db-l">
                            {% include "docs/icons/bootstrap/grip-horizontal.svg" %}
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <label class="db mv3 p2">
                <input type="checkbox" name="minify" checked>
                Minify output
            </label>

            <input
                class="button-reset dib bg-dark-blue br-pill grow ph4 pv3 white cursor-pointer"
                type="submit"
                value="Generate custom C4S stylesheet">
        </form>

        <div class="tc">
            <div
                class="js-custom-modules-output dib ph3 pv2 ba br2"
                style="display: none;">
                Generating custom modules

                <div class="spinner dib ml3 br-100 ba bw1 v-mid w1 h1">
                    <span class="sr-only">
                        Loading...
                    </span>
                </div>
            </div>
        </div>
    </div>

    <style>
        .js-reorder-list [data-cursor] {
            position: relative;
        }

        .js-reorder-list [data-cursor]::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: .25rem;
            background-color: black;
        }

        .js-reorder-list [data-cursor=before]::after {
            bottom: calc(100% + 1px);
        }

        .js-reorder-list [data-cursor=after]::after {
            top: calc(100% + 1px);
        }

        .spinner {
            border-right-color: transparent;
            -webkit-animation: spinner 1s linear infinite;
                    animation: spinner 1s linear infinite;
        }

        @keyframes spinner {
            to {
                -webkit-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                        transform: rotate(360deg);
            }
        }

    </style>
{% endblock %}
