{#
    SPDX-FileCopyrightText: 2025 Cas Dijkman

    SPDX-License-Identifier: GFDL-1.3-only
#}

{% extends "docs/layouts/default.njk" %}

{% set description = "Create your own C4S" %}

{% block content %}
    {# Custom modules form #}
    <div class="container center ph3 mv3">
        <h2 class="mv4 mv5-l tc-l">
            Custom C4S stylesheet
        </h2>
        <form
            class="row gap"
            data-custom-modules-form
            style="display: none;"
        >
            <div class="col-12 col-6-l">
                <h3 class="mt0">Instructions</h3>
                <b>Select&hellip;</b>
                <ul class="list-reset pl4 mv3">
                    <li class="flex">
                        <span class="mr2">›</span>
                        What modules you want
                    </li>
                    <li class="flex">
                        <span class="mr2">›</span>
                        If modules should be responsive
                    </li>
                    <li class="flex">
                        <span class="mr2">›</span>
                        <div>
                            What order modules should be loaded.
                            <div class="di dn-l">This feature is only available on desktop</div>
                            <div class="dn di-l">
                                Order modules by dragging them with
                                <div class="svg-wrapper dib v-mid ml2">
                                    {% include "docs/icons/bootstrap/grip-horizontal.svg" %}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="flex">
                        <span class="mr2">›</span>
                        If you want to minify the CSS output or not
                    </li>
                </ul>

                <p>
                    To generate, click the button at the bottom of the page.
                    <br>
                    Generating custom stylesheets may take a while.
                </p>

                <h3>Actions</h3>
                <div class="row gap mv4" style="--gap: .5rem;">
                    {% set buttonClasses = "col-12 col-6-s p0 ph2 br-pill" %}
                    <button
                        class="{{ buttonClasses }} btn-success"
                        type="button"
                        data-action="enable-modules"
                    >
                        Enable all modules
                    </button>
                    <button
                        class="{{ buttonClasses }} btn-success"
                        type="button"
                        data-action="enable-responsive"
                    >
                        Enable all responsive
                    </button>
                    <button
                        class="{{ buttonClasses }} btn-danger"
                        type="button"
                        data-action="disable-modules"
                    >
                        Disable all modules
                    </button>
                    <button
                        class="{{ buttonClasses }} btn-danger"
                        type="button"
                        data-action="disable-responsive"
                    >
                        Disable all responsive
                    </button>
                    <button
                        class="{{ buttonClasses }} btn-warning"
                        type="button"
                        data-action="reset-modules"
                    >
                        Reset modules
                    </button>
                    <button
                    class="{{ buttonClasses }} btn-warning"
                        type="button"
                        data-action="reset-responsive"
                    >
                        Reset responsive
                    </button>
                </div>
            </div>

            <div>
                <h3 class="mt0">Modules</h3>
                <ul class="js-reorder-list list-reset mv3 measure">
                    {% for file in files | rejectattr('isMinified') | rejectattr('isRaw') | selectattr('isModule') %}
                        <li class="flex flex-wrap items-center ph2 ph3-m pv1 mt1-between ba br2 column-gap row-gap"
                            draggable="true">
                            <label class="flex-grow-1 code">
                                <input
                                    type="checkbox"
                                    class="checkbox button-lh-fix"
                                    data-checkbox-module
                                    name="module-{{ file.name }}"
                                    data-initial-value="{{ file.isEnabled }}"
                                    {{ "checked" if file.isEnabled }}
                                >
                                {{ file.name }}
                            </label>

                            {% if file.responsiveAble %}
                                <label>
                                    <input
                                        type="checkbox"
                                        class="checkbox button-lh-fix"
                                        data-checkbox-responsive
                                        name="module-{{ file.name }}-responsive"
                                        data-initial-value="{{ file.isResponsive }}"
                                        {{ "checked" if file.isResponsive }}
                                    >
                                    Responsive
                                </label>
                            {% endif %}

                            <div class="svg-wrapper dn db-l">
                                {% include "docs/icons/bootstrap/grip-horizontal.svg" %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <label class="db mv3 p2">
                    <input type="checkbox" name="minify" class="checkbox button-lh-fix" checked>
                    Minify output
                </label>

                <input
                    class="btn-primary grow br-pill"
                    type="submit"
                    value="Generate custom C4S stylesheet"
                >
            </div>
        </form>
    </div>

    {# Generated CSS output #}
    <div class="container center ph3 mv3">
        <div class="tc">
            <div
                class="dib ph3 pv2 ba br2 f5 lh-extra"
                style="display: none;"
                data-custom-modules-output-message
            >
                Generating custom modules...

                <div class="spinner dib ml3 br-100 ba bw1 v-mid w1 h1">
                    <span class="sr-only">
                        Loading...
                    </span>
                </div>
            </div>
        </div>

        <pre
            class="code ba br2 p3"
            style="display: none;"
            data-custom-modules-output-css
        ></pre>

        <div class="tc">
            <button
                type="button"
                class="btn-primary br-pill"
                style="display: none;"
                data-custom-modules-output-css-copy
            >
                Copy CSS to clipboard
            </button>
        </div>
    </div>

    <style>
        .js-reorder-list [data-cursor] {
            position: relative;
        }

        .js-reorder-list [data-cursor]::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: .25rem;
            background-color: black;
        }

        .js-reorder-list [data-cursor=before]::after {
            bottom: calc(100% + 1px);
        }

        .js-reorder-list [data-cursor=after]::after {
            top: calc(100% + 1px);
        }

        .spinner {
            border-right-color: transparent;
            -webkit-animation: spinner 1s linear infinite;
                    animation: spinner 1s linear infinite;
        }

        @keyframes spinner {
            to {
                -webkit-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                        transform: rotate(360deg);
            }
        }
    </style>
{% endblock %}
