{#
SPDX-FileCopyrightText: 2021 Cas Dijkman

SPDX-License-Identifier: GPL-3.0-only
#}

{% extends "docs/layouts/default.njk" %}

{% set description = "C4S CSS documentation index page" %}

{% macro renderFileRow(file) %}
 <tr class="stripe-light">
     <td class="ph2 pv1">
	 <a class="link dark-blue hover-underline" href="{{ file.file }}">
	     {{ file.name }}
	 </a>

	 {% if file.isMinified %}
	     (minified)
	 {% endif %}
     </td>
     <td class="ph2 pv1" title="{{ file.size | formatInteger }} bytes">
	 {{ file.sizePretty }}
     </td>
     <td class="ph2 pv1" title="{{ file.gzipSize | formatInteger}} bytes">
	 {{ file.gzipSizePretty }}
     </td>
     <td class="ph2 pv1">
	 <a class="db link dark-blue hover-underline tc" href="{{ file.file }}" download>
	     <span class="sr-only">Download</span>
	     <div class="svg-wrapper dib">
		 <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>Download</title><path d="M336,176h40a40,40,0,0,1,40,40V424a40,40,0,0,1-40,40H136a40,40,0,0,1-40-40V216a40,40,0,0,1,40-40h40" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><polyline points="176 272 256 352 336 272" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="256" y1="48" x2="256" y2="336" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
	     </div>
	 </a>
     </td>
 </tr>
{% endmacro %}

{% block content %}
    <h2 class="mt0">
	Documentation
    </h2>

    <a href="/docs/example.html" class="db link dark-blue hover-underline ph3 pv2">
	Examples
    </a>

    <a href="/docs/list.html" class="db dark-blue link hover-underline ph3 pv2">
	List of rules
    </a>

    <h2>
	Downloads
    </h2>

    {% for file in files %}
	{% if not file.isRaw and file.name == "c4s" %}
	    <a class="dib white link bg-blue br-pill lh-solid ph4 pv3 m2 nowrap" href="{{ file.file }}" download>
		Download C4S

		{% if file.isMinified %}
		    minified
		{% endif %}
	    </a>
	{% endif %}
    {% endfor %}

    <h2>
	Files
    </h2>

    <div class="overflow-x-auto">
	<table class="collapse lh-text">
	    <tr class="stripe-light b">
		<td class="p2">
		    Name
		</td>
		<td class="p2">
		    Size
		</td>
		<td class="p2">
		    Size gzipped
		</td>
		<td class="p2">
		    Download
		</td>
	    </tr>

	    {% for file in files %}
		{% if not file.isRaw and not file.isModule and not file.isCustom %}
		    {{ renderFileRow(file) }}
		{% endif %}
	    {% endfor %}
	</table>
    </div>

    <h2>
	  Modules
    </h2>

    <div class="overflow-x-auto">
	<table class="collapse lh-text">
	    <tr class="stripe-light b">
		<td class="p2">
		    Name
		</td>
		<td class="p2">
		    Size
		</td>
		<td class="p2">
		    Size gzipped
		</td>
		<td class="p2">
		    Download
		</td>
	    </tr>

	    {% for file in files %}
		{% if not file.isRaw and file.isModule %}
		    {{ renderFileRow(file) }}
		{% endif %}
	    {% endfor %}
	</table>
    </div>
{% endblock %}
