{#
SPDX-FileCopyrightText: 2021 Cas Dijkman

SPDX-License-Identifier: GFDL-1.3-only
#}

{% extends "docs/layouts/default.njk" %}

{% set description = "C4S CSS documentation index page" %}

{% macro renderFileRow(file, index) %}
    <tr class="stripe-light" data-original-order="{{ index }}">
        <td></td>
        <td class="ph2 pv1">
            <a class="link dark-blue hover-underline" href="{{ file.file }}">
                {{ file.name }}
            </a>

            {% if file.isMinified %}
                (minified)
            {% endif %}
        </td>
        <td class="ph2 pv1 nowrap" title="{{ file.size | formatInteger }} bytes" data-value="{{ file.size }}">
            {{ file.sizePretty }}
        </td>
        <td class="ph2 pv1 nowrap" title="{{ file.gzipSize | formatInteger }} bytes" data-value="{{ file.size }}">
            {{ file.gzipSizePretty }}
        </td>
        {% if file.isModule %}
            <td class="ph2 pv1 nowrap">
                <a
                    class="dib link dark-blue hover-underline ml3-between"
                    href="/example.html#{{ file.name }}"
                    title="See examples for {{ file.name }}">
                    Examples
                </a>
                <a
                    class="dib link dark-blue hover-underline ml3-between"
                    href="/list.html#{{ file.name }}"
                    title="See list of CSS rules">
                    Rules
                </a>
            </td>
        {% endif %}
         <td class="ph2 pv1">
            <a class="db link black tc" href="{{ file.file }}" download>
                <span class="sr-only">Download</span>
                <div class="svg-wrapper dib">
                    {% include "docs/icons/ionicons/download-outline.svg" %}
                </div>
            </a>
        </td>
    </tr>
{% endmacro %}

{% block content %}
    <div class="container center ph2 ph3-s mb4">
        <div class="flex flex-column tc ph2 ph0-m mv5 mv6-m mw8 center">
            <h2 class="f-subheadline lh-solid grow mt0 mb4">
                <span class="tracked-tight">C4S</span>
                CSS
            </h2>
            <div class="row column-gap row-gap">
                <div class="col-12 col-m col-3-l grow ba br3 b--black-20 p3">
                    <h3 class="mt0 f4">Lightweight</h3>
                    {% set minGzSize = files | mySelect("basename", "c4s.min.css") | first | mySelect("gzipSize") %}
                    Only
                    <span title="{{ minGzSize | formatInteger }} bytes">&plusmn;{{ minGzSize // 1000 }} kilobytes</span>
                    <a class="link hover-underline black"
                        href="/c4s.min.css.gz"
                        download>
                        minified and gzipped
                    </a>
                    but fully-equipped ⚒️
                </div>
                <div class="col-12 col-m col-3-l grow ba br3 b--black-20 p3">
                    <h3 class="mt0 f4">Responsive</h3>
                    Responsive out-of-the-box, suitable for mobile-friendly designs 📱
                </div>
                 <div class="col-12 col-m col-3-l grow ba br3 b--black-20 p3">
                    <h3 class="mt0 f4">Free software</h3>
                    Source code is available on
                    <a class="link dark-blue hover-underline"
                        href="https://github.com/casdijkman/c4s"
                        target="_blank"
                        rel="noreferrer">github</a>
                    under the
                    <a class="link dark-blue hover-underline"
                        href="https://www.gnu.org/licenses/gpl-3.0.en.html"
                        target="_blank"
                        rel="noreferrer nofollow">GNU&nbsp;GPL&nbsp;v3</a> 👐
                 </div>
                 <div class="col-12 col-m col-3-l grow ba br3 b--black-20 p3">
                    <h3 class="mt0 f4">Customizable</h3>
                    Written in
                    <a class="link dark-blue hover-underline"
                        href="https://sass-lang.com/"
                        target="_blank"
                        rel="noreferrer nofollow">SASS</a>,
                    customizable and extensible to your heart's content ❤️
                </div>
            </div>
        </div>

        <h2 id="documentation">
            Documentation
        </h2>

        <a href="/example.html" class="db link dark-blue hover-underline ph3 pv2">
            Examples
        </a>

        <a href="/list.html" class="db dark-blue link hover-underline ph3 pv2">
            List of rules
        </a>

        <h2 id="downloads">
            Downloads
        </h2>

        <div class="row column-gap row-gap">
            {% for file in files | rejectattr("isRaw") | mySelect("name", "c4s") %}
                <div class="dib bg-dark-blue br-pill grow">
                    <a class="dib link ph4 pv3 nowrap white" href="{{ file.file }}" download>
                        Download C4S

                        {% if file.isMinified %}
                            minified
                        {% endif %}
                    </a>
                </div>
            {% endfor %}

            <div class="dib bg-dark-blue br-pill grow">
                <a class="dib link ph4 pv3 nowrap white" href="/custom.html" title="Select your own modules">
                    Customize C4S
                </a>
            </div>
        </div>

        <h2 id="files">
            Files
        </h2>

        <div class="overflow-x-auto">
            <table class="js-order-table collapse lh-text">
                <tr class="stripe-light b">
                    <th class="p2-m cursor-pointer user-select-none tl" data-sort-name="reset"></th>
                    <th class="p2 cursor-pointer user-select-none tl">
                        Name
                    </th>
                    <th class="p2 cursor-pointer user-select-none tl" data-sort-name="number">
                        Size
                    </th>
                    <th class="p2 cursor-pointer user-select-none tl" data-sort-name="number">
                        Size gzip
                    </th>
                    <th class="p2 user-select-none tl" data-sort-name="none">
                        Download
                    </th>
                </tr>

                {% for file in files | rejectattr('isRaw') | rejectattr('isModule') | rejectattr('isCustom') %}
                    {{ renderFileRow(file, loop.index0) }}
                {% endfor %}
            </table>
        </div>

        <h2 id="modules">
            Modules ({{ files | rejectattr('isMinified') | rejectattr('isRaw') | selectattr('isModule') | length }})
        </h2>

        <div class="overflow-x-auto">
            <table class="js-order-table collapse lh-text">
                <tr class="stripe-light b">
                    <th class="p2-m cursor-pointer user-select-none tl" data-sort-name="reset"></th>
                    <th class="p2 cursor-pointer user-select-none tl">
                        Name
                    </th>
                    <th class="p2 cursor-pointer user-select-none tl" data-sort-name="number">
                        Size
                    </th>
                    <th class="p2 cursor-pointer user-select-none tl" data-sort-name="number">
                        Size gzip
                    </th>
                    <th class="p2 user-select-none tl" data-sort-name="none">
                        Documentation
                    </th>
                    <th class="p2 user-select-none tl" data-sort-name="none">
                        Download
                    </th>
                </tr>

                {% for file in files | rejectattr('isMinified') | rejectattr('isRaw') | selectattr('isModule') %}
                    {{ renderFileRow(file, loop.index0) }}
                {% endfor %}
            </table>
        </div>
    </div>

    <style>
        .js-order-table th::after {
            {% set dataUrl = "docs/icons/bootstrap/sort-alpha-up.svg" | imageToDataString('svg+xml') %}
            content: url("{{ dataUrl }}");
            display: inline-block;
            width: 1rem;
            margin: 0 5px;
            transform: translateY(3px);
            visibility: hidden;
        }

        .js-order-table th[data-sorted-by][data-sorted-order]::after {
            visibility: visible;
        }

        .js-order-table th[data-sorted-by][data-sorted-order=ascending]::after {
            {% set dataUrl = "docs/icons/bootstrap/sort-alpha-up.svg" | imageToDataString('svg+xml') %}
            content: url("{{ dataUrl }}");
        }

        .js-order-table th[data-sorted-by][data-sorted-order=descending]::after {
            {% set dataUrl = "docs/icons/bootstrap/sort-alpha-down-alt.svg" | imageToDataString('svg+xml') %}
            content: url("{{ dataUrl }}");
        }

        .js-order-table th[data-sorted-by][data-sorted-order=ascending][data-sort-name=number]::after {
            {% set dataUrl = "docs/icons/bootstrap/sort-numeric-up.svg" | imageToDataString('svg+xml') %}
            content: url("{{ dataUrl }}");
        }

        .js-order-table th[data-sorted-by][data-sorted-order=descending][data-sort-name=number]::after {
            {% set dataUrl = "docs/icons/bootstrap/sort-numeric-down-alt.svg" | imageToDataString('svg+xml') %}
            content: url("{{ dataUrl }}");
        }

        .js-order-table th[data-sort-name=reset]::after,
        .js-order-table th[data-sort-name=none]::after {
            content: unset;
        }

        .js-order-table[data-sorted] th[data-sort-name=reset]::after {
            {% set dataUrl = "docs/icons/ionicons/refresh-outline.svg" | imageToDataString('svg+xml') %}
            content: url("{{ dataUrl }}");
            visibility: visible;
        }
    </style>
{% endblock %}
