{#
SPDX-FileCopyrightText: 2021 Cas Dijkman

SPDX-License-Identifier: GFDL-1.3-only
#}

{% extends "docs/layouts/default.njk" %}

{% set description = "C4S CSS documentation index page" %}

{% macro renderFileRow(file) %}
    <tr class="stripe-light">
        <td class="ph2 pv1">
            <a class="link dark-blue hover-underline" href="{{ file.file }}">
                {{ file.name }}
            </a>

            {% if file.isMinified %}
                (minified)
            {% endif %}
        </td>
        <td class="ph2 pv1 nowrap" title="{{ file.size | formatInteger }} bytes">
            {{ file.sizePretty }}
        </td>
        <td class="ph2 pv1 nowrap" title="{{ file.gzipSize | formatInteger }} bytes">
            {{ file.gzipSizePretty }}
        </td>
        <td class="ph2 pv1">
            <a class="db link black tc" href="{{ file.file }}" download>
                <span class="sr-only">Download</span>
                <div class="svg-wrapper dib">
                    {# https://unpkg.com/ionicons@5.5.2/dist/svg/download-outline.svg #}
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Download</title><path d="M336 176h40a40 40 0 0140 40v208a40 40 0 01-40 40H136a40 40 0 01-40-40V216a40 40 0 0140-40h40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 272l80 80 80-80M256 48v288"/></svg>
                </div>
            </a>
        </td>
    </tr>
{% endmacro %}

{% block content %}
    <div class="container center ph2 ph3-s mb4">
        <div class="flex flex-column tc ph2 ph0-m mv5 mv6-m mw8 center">
            <h2 class="f-subheadline lh-solid grow mt0 mb4">
                <span class="tracked-tight">C4S</span>
                CSS
            </h2>
            <div class="row column-gap row-gap">
                <div class="col-12 col-m col-3-l grow ba br3 b--black-20 p3">
                    <h3 class="mt0 f4">Lightweight</h3>
                    {% set minGzSize = files | mySelect("basename", "c4s.min.css") | first | mySelect("gzipSize") %}
                    Only
                    <span title="{{ minGzSize | formatInteger }} bytes">&plusmn;{{ minGzSize // 1000 }} kilobytes</span>
                    <a class="link hover-underline black"
                        href="/c4s.min.css.gz"
                        download>
                        minified and gzipped
                    </a>
                    but fully-equipped ⚒️
                </div>
                <div class="col-12 col-m col-3-l grow ba br3 b--black-20 p3">
                    <h3 class="mt0 f4">Responsive</h3>
                    Responsive out-of-the-box, suitable for mobile-friendly designs 📱
                </div>
                 <div class="col-12 col-m col-3-l grow ba br3 b--black-20 p3">
                    <h3 class="mt0 f4">Free software</h3>
                    Source code is available on
                    <a class="link dark-blue hover-underline"
                        href="https://github.com/casdijkman/c4s"
                        target="_blank"
                        rel="noreferrer">github</a>
                    under the
                    <a class="link dark-blue hover-underline"
                        href="https://www.gnu.org/licenses/gpl-3.0.en.html"
                        target="_blank"
                        rel="noreferrer nofollow">GNU&nbsp;GPL&nbsp;v3</a> 👐
                 </div>
                 <div class="col-12 col-m col-3-l grow ba br3 b--black-20 p3">
                    <h3 class="mt0 f4">Customizable</h3>
                    Written in
                    <a class="link dark-blue hover-underline"
                        href="https://sass-lang.com/"
                        target="_blank"
                        rel="noreferrer nofollow">SASS</a>,
                    customizable and extensible to your heart's content ❤️
                </div>
            </div>
        </div>

        <h2>
            Documentation
        </h2>

        <a href="/docs/example.html" class="db link dark-blue hover-underline ph3 pv2">
            Examples
        </a>

        <a href="/docs/list.html" class="db dark-blue link hover-underline ph3 pv2">
            List of rules
        </a>

        <h2>
            Downloads
        </h2>

        <div class="row column-gap row-gap">
            {% for file in files | rejectattr("isRaw") | mySelect("name", "c4s") %}
                <div class="dib bg-dark-blue br-pill grow">
                    <a class="dib link ph4 pv3 nowrap white" href="{{ file.file }}" download>
                        Download C4S

                        {% if file.isMinified %}
                            minified
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

        <h2>
            Files
        </h2>

        <div class="overflow-x-auto">
            <table class="collapse lh-text">
                <tr class="stripe-light b">
                    <td class="p2">
                        Name
                    </td>
                    <td class="p2">
                        Size
                    </td>
                    <td class="p2">
                        Size gzipped
                    </td>
                    <td class="p2">
                        Download
                    </td>
                </tr>

                {% for file in files | rejectattr('isRaw') | rejectattr('isModule') | rejectattr('isCustom') %}
                    {{ renderFileRow(file) }}
                {% endfor %}
            </table>
        </div>

        <h2>
            Modules ({{ files | rejectattr('isMinified') | rejectattr('isRaw') | selectattr('isModule') | length }})
        </h2>

        <div class="overflow-x-auto">
            <table class="collapse lh-text">
                <tr class="stripe-light b">
                    <td class="p2">
                        Name
                    </td>
                    <td class="p2">
                        Size
                    </td>
                    <td class="p2">
                        Size gzipped
                    </td>
                    <td class="p2">
                        Download
                    </td>
                </tr>

                {% for file in files | rejectattr('isMinified') | rejectattr('isRaw') | selectattr('isModule') %}
                    {{ renderFileRow(file) }}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
