{#
SPDX-FileCopyrightText: 2021 Cas Dijkman

SPDX-License-Identifier: GPL-3.0-only
#}

{% extends "docs/layouts/default.njk" %}

{% block content %}
    <div class="row f5 b sticky top-0 bg-white bb bw1 b--black-20">
	<div class="col-12 col-3-m col-2-l p2">
	    Selectors
	</div>
	<div class="col-12 col-m p2">
	    Declarations
	</div>
	<div class="col-12 col-2-m p2">
	    Module
	</div>
    </div>

    {% for module in modules %}
	{% for rule in module.css.stylesheet.rules %}
	    <div class="row bt b--black-20">
		<div class="col-12 col-3-m col-2-l p2">
		    {% for selector in rule.selectors %}
			{{ selector }}{% if not loop.last %},<br>{% endif %}
		    {% endfor %}
		</div>
		<div class="col-12 col-m p2 word-break-word">
		    {% for declaration in rule.declarations %}
			{{ declaration.property }}: {{ declaration.value }};
			{% if not loop.last %}
			    <br>
			{% endif %}
		    {% endfor %}
		</div>
		<div class="col-12 col-2-m p2">
		    {{ module.name }}
		</div>
	    </div>
	{% endfor %}
    {% endfor %}
{% endblock %}
