{#
    SPDX-FileCopyrightText: 2024 Cas Dijkman

    SPDX-License-Identifier: GFDL-1.3-only
#}

{% extends "docs/layouts/default.njk" %}

{% set description = "test" %}

{% block content %}
    <div class="container center p3">
        <h2 id="forms">Forms</h2>
        <form>
            <h3>Button group</h3>

            <div class="measure-wide center mt5-between">
                <div class="flex button-group">
                    {% for position in ["Left", "Center", "Right"] %}
                        <button
                            type="button"
                            class="p3 bw1 b--black ba bw2 b--dotted cursor-pointer flex-grow-1"
                        >
                            {{ position }}
                        </button>
                    {% endfor %}
                </div>
            </div>

            <div class="flex button-group mt5-between">
                {% for i in [1, 2, 3, 4] %}
                    <a
                        class="link black ba ph3 pv2 nowrap hover-bg-black-05"
                        href="javascript:;"
                    >
                        <div class="button-lh-fix">
                            <code class="bg-black-10 pv1 ph2 br-pill">&lt;a&gt;</code>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="mt5-between">
                <p>
                    With state indication
                    <span
                        class="hover-underline"
                        title="Inspect page source to view custom styling"
                    >
                        (requires some custom CSS)
                    </span>
                </p>
                <style>
                    #button-group-radio-bg input[type="radio"]:checked ~ div {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                </style>
                <div class="flex button-group" id="button-group-radio-bg">
                    {% for value in ["🍎 Apple", "🍊 Orange", "🍌 Banana", "🍐 Pear"] %}
                        <label class="ba overflow-hidden cursor-pointer">
                            <input
                                type="radio"
                                name="button-group-radio-1"
                                class="sr-only"
                                value="{{ value }}"
                                {{ "checked" if loop.index0 === 0 }}
                            >
                            <div class="ph2 ph3-m pv1 pv2-m nowrap hover-bg-black-05">
                                <div class="button-lh-fix">
                                    {{ value }}
                                </div>
                            </div>
                        </label>
                    {% endfor %}
                </div>
            </div>

            <div class="mt5-between">
                <p>
                    With state indication
                    <span
                        class="hover-underline"
                        title="Inspect page source to view custom code"
                    >
                        (requires some custom CSS and JS)
                    </span>
                </p>
                <script>
                    window.addEventListener('DOMContentLoaded', () => {
                        $('#button-group-radio-outline label input').on('change', function() {
                            $('#button-group-radio-outline label').setClass('active', ({ element }) => element.contains(this));
                        });
                    });
                </script>
                <style>
                    #button-group-radio-outline label.active {
                        outline: 3px solid black;
                        outline-offset: -3px;
                    }
                    #button-group-radio-outline label.active + label {
                        border-left-color: transparent;
                    }
                </style>
                <div class="flex button-group f2" id="button-group-radio-outline">
                    {% for value in ["😠", "☹️", "😐", "🙂", "😁"] %}
                        <label class="ba overflow-hidden cursor-pointer
                            {{ "active" if loop.last }}">
                            <input
                                type="radio"
                                name="button-group-radio-2"
                                class="sr-only"
                                value="{{ value }}"
                                {{ "checked" if loop.last }}
                            >
                            <div class="ph3 pv2 nowrap hover-bg-black-05">
                                <div class="button-lh-fix">
                                    {{ value }}
                                </div>
                            </div>
                        </label>
                    {% endfor %}
                </div>
            </div>

            <div class="mt5-between">
                <p>
                    This example excludes the borders from the buttons.
                </p>
                <p>
                    Hover button or border to see when the button can be clicked (or not).
                </p>
                <div class="flex button-group">
                    {% for position in ["Left", "Center", "Right"] %}
                        <div class="ba b--black-60 bw4">
                            <button
                                class="
                                       button-reset hover-bg-blue
                                       p3 cursor-pointer
                                "
                                type="button"
                            >
                                <code class="bg-light-gray pv1 ph2 br-pill">&lt;button&gt;</code>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <h3>Checkboxes</h3>
            {% for index in [1, 2] %}
                {% set name = "Default input with label sibling " + index %}

                <div class="mt3-between">
                    <input
                        type="checkbox"
                        id="{{ name }}"
                        name="{{ name }}"
                        value="{{ name }}"
                        {% if loop.index0 === 0 %}checked{% endif %}
                    >
                    <label for="{{ name }}">{{ name }}</label>
                </div>
            {% endfor %}

            {% for index in [1, 2] %}
                {% set name = "Input with label sibling " + index %}

                <div class="mt3-between">
                    <input
                        type="checkbox"
                        id="{{ name }}"
                        name="{{ name }}"
                        value="{{ name }}"
                        class="checkbox"
                        {% if loop.index0 === 0 %}checked{% endif %}
                    >
                    <label for="{{ name }}">{{ name }}</label>
                </div>
            {% endfor %}

            {% for index in [1, 2] %}
                {% set name = "input with label parent " + index %}

                <label class="db mt3-between">
                    <input
                        type="checkbox"
                        name="{{ name }}"
                        value="{{ name }}"
                        class="checkbox"
                        {% if loop.index0 === 0 %}checked{% endif %}
                    >
                    {{ name }}
                </label>
            {% endfor %}

            <div class="mt3-between">
                <input
                    type="submit"
                    value="Submit form"
                    class="button-reset ph3 pv2 br3 ba b--black cursor-pointer"
                >
            </div>
        </form>

        <div class="mb5"></div>

        <h2 class="mt0">Grid (rows and columns)</h2>

        <div class="mv4 debug-outlines">
            <div class="row">
                {% for i in "" | getRandom12Partition %}
                    <div class="col-{{ i }}">col-{{ i }}</div>
                {% endfor %}
            </div>
            <div class="row">
                {% for i in "" | getRandom12Partition %}
                    <div class="col-{{ i }}">col-{{ i }}</div>
                {% endfor %}
            </div>
            <div class="row">
                {% for i in "" | getRandom12Partition %}
                    <div class="col-{{ i }}">col-{{ i }}</div>
                {% endfor %}
            </div>
            <div class="row">
                {% for i in "" | getRandom12Partition %}
                    <div class="col-{{ i }}">col-{{ i }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="mv4 debug-outlines">
            <div class="row column-gap">
                <div class="col-12">col-12</div>
            </div>
            <div class="row column-gap">
                <div class="col">col</div>
            </div>
            <div class="row column-gap">
                <div class="col-6">col-6</div>
                <div class="col-6">col-6</div>
            </div>
            <div class="row column-gap">
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row column-gap">
                <div class="col-4">col-4</div>
                <div class="col-4">col-4</div>
                <div class="col-4">col-4</div>
            </div>
            <div class="row column-gap">
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row column-gap">
                <div class="col-3">col-3</div>
                <div class="col-3">col-3</div>
                <div class="col-3">col-3</div>
                <div class="col-3">col-3</div>
            </div>
            <div class="row column-gap">
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row column-gap">
                <div class="col-2">col-2</div>
                <div class="col-2">col-2</div>
                <div class="col-2">col-2</div>
                <div class="col-2">col-2</div>
                <div class="col-2">col-2</div>
                <div class="col-2">col-2</div>
            </div>
            <div class="row column-gap">
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row column-gap">
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
            </div>
            <div class="row column-gap">
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
        </div>

        <div class="debug-outlines">
            <div class="row">
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row">
                <div class="col-auto">col-auto</div>
                <div class="col-auto">col-auto</div>
                <div class="col-auto">col-auto</div>
            </div>
            <div class="row">
                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row">
                <div class="col-6">col-6</div>
                <div class="col-6">col-6</div>
            </div>
            <div class="row">
                <div class="col-3">col-3</div>
                <div class="col-3">col-3</div>
                <div class="col-3">col-3</div>
                <div class="col-3">col-3</div>
                <div class="col-3">col-3</div>
                <div class="col-3">col-3</div>
                <div class="col-3">col-3</div>
                <div class="col-3">col-3</div>
            </div>
            <div class="row">
                <div class="col-2">col-2</div>
                <div class="col-2">col-2</div>
                <div class="col-2">col-2</div>
                <div class="col-2">col-2</div>
                <div class="col-2">col-2</div>
                <div class="col-2">col-2</div>
                <div class="col-12">col-12</div>
            </div>
        </div>

        <h2>Tables</h2>
        <h3>Table stripe light</h3>

        <table class="collapse mt4-between">
        <tr class="stripe-light">
            <td class="p2">Header 1</td>
            <td class="p2">Header 2</td>
        </tr>
        <tr class="stripe-light">
            <td class="p2">Data row 1</td>
            <td class="p2">Data row 1</td>
        </tr>
        <tr class="stripe-light">
            <td class="p2">Data row 2</td>
            <td class="p2">Data row 2</td>
        </tr>
        <tr class="stripe-light">
            <td class="p2">Data row 3</td>
            <td class="p2">Data row 3</td>
        </tr>
        <tr class="stripe-light">
            <td class="p2">Data row 4</td>
            <td class="p2">Data row 4</td>
        </tr>
        </table>

        <h3>Table stripe dark</h3>

        <table class="collapse mt4-between">
        <tr class="stripe-dark">
            <td class="p2">Header 1</td>
            <td class="p2">Header 2</td>
        </tr>
        <tr class="stripe-dark">
            <td class="p2">Data row 1</td>
            <td class="p2">Data row 1</td>
        </tr>
        <tr class="stripe-dark">
            <td class="p2">Data row 2</td>
            <td class="p2">Data row 2</td>
        </tr>
        <tr class="stripe-dark">
            <td class="p2">Data row 3</td>
            <td class="p2">Data row 3</td>
        </tr>
        <tr class="stripe-dark">
            <td class="p2">Data row 4</td>
            <td class="p2">Data row 4</td>
        </tr>
        </table>

        <h2>Lists</h2>
        <h3>Ordered list</h3>

        <ol>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
        </ol>

        <h3>Ordered list reset</h3>

        <ol class="list-reset">
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
        </ol>

        <h3>Unordered list</h3>

        <ul>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
        </ul>

        <h3>Unordered list reset</h3>

        <ul class="list-reset">
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
        </ul>

        <h2>Headers</h2>

        <h3>Header font size</h3>

        <p>
            Header font size depends on the browser settings, use the slider below to emulate different base font sizes.
        </p>
        <p>
            Notice how Headline and Subheadline don't change, since they are <kbd>rem</kbd> based, not <kbd>em</kbd> based.
        </p>

        <form id="font-size-form" class="mb3">
            Current value: <span class="js-value"></span>
            <div class="flex items-center">
                <input class="js-input" type="range" min="1" max="30">
                <button class="button-reset ba b--black p2 br3 ml3 cursor-pointer" type="reset">
                    Reset
                </button>
            </div>
        </form>

        <div class="show-font-sizes ba p3">
            <h1 class="mv0 f-headline" data-text="Headline">
                Headline
            </h1>
            <h1 class="mv0 f-subheadline" data-text="Sub headline">
                Sub headline
            </h1>
            <h1 class="mv0" data-text="Header H1">
                Header H1
            </h1>
            <h2 class="mv0" data-text="Header H2">
                Header H2
            </h2>
            <h3 class="mv0" data-text="Header H3">
                Header H3
            </h3>
            <h4 class="mv0" data-text="Header H4">
                Header H4
            </h4>
            <h5 class="mv0" data-text="Header H5">
                Header H5
            </h5>
            <h6 class="mv0" data-text="Header H6">
                Header H6
            </h6>
            <div data-text="Regular text">
                Regular text
            </div>
            <small class="db" data-text="Small text">
                Small text
            </small>
        </div>

        <h3>Header margins with a paragraph</h3>

        <div class="ba ph3">
            <h1>Header H1</h1>
            {{ "" | loremIpsum(1) | safe }}
            <h2>Header H2</h2>
            {{ "" | loremIpsum(1) | safe }}
            <h3>Header H3</h3>
            {{ "" | loremIpsum(1) | safe }}
            <h4>Header H4</h4>
            {{ "" | loremIpsum(1) | safe }}
            <h5>Header H5</h5>
            {{ "" | loremIpsum(1) | safe }}
            <h6>Header H6</h6>
            {{ "" | loremIpsum(1) | safe }}
        </div>

        <h3>Header margins with margin collapse</h3>

        <div class="ba ph3">
            <h1>Header H1</h1>
            <h2>Header H2</h2>
            <h3>Header H3</h3>
            <h4>Header H4</h4>
            <h5>Header H5</h5>
            <h6>Header H6</h6>
        </div>

        <h3>Header margins without margin collapse</h3>

        <div class="flex flex-column ba ph3">
            <h1>Header H1</h1>
            <h2>Header H2</h2>
            <h3>Header H3</h3>
            <h4>Header H4</h4>
            <h5>Header H5</h5>
            <h6>Header H6</h6>
        </div>

        <h2>Images</h2>

        <h3>Fixed dimensions on image</h3>

        <div class="flex flex-wrap debug-outlines">
            <div>
                With reset
                <img src="https://placebear.com/g/300/200" class="w4 h4">
            </div>
            <div>
                Without reset
                <img src="https://placebear.com/g/300/200" class="w4 h4 no-reset">
            </div>
        </div>

        <h3>Fixed dimensions on image with object-fit contain</h3>

        <div class="flex flex-wrap debug-outlines">
            <div>
                With reset
                <img src="https://placebear.com/g/300/200" class="w4 h4 contain">
            </div>
            <div>
                Without reset
                <img src="https://placebear.com/g/300/200" class="w4 h4 contain no-reset">
            </div>
        </div>

        <h3>Fixed dimensions on image with object-fit cover</h3>

        <div class="flex flex-wrap debug-outlines">
            <div>
                With reset
                <img src="https://placebear.com/g/300/200" class="w4 h4 cover">
            </div>
            <div>
                Without reset
                <img src="https://placebear.com/g/300/200" class="w4 h4 cover no-reset">
            </div>
        </div>

        <h3>Fixed dimensions on image parent</h3>

        <div class="flex flex-wrap debug-outlines">
            <div class="w4 h4">
                With reset
                <img src="https://placebear.com/g/300/200">
            </div>

            <div class="w4 h4">
                Without reset
                <img src="https://placebear.com/g/300/200" class="no-reset">
            </div>
        </div>

        {#
        <div class="mv6">
            <pre>{{ files | dump(2) }}</pre>
        </div>
        #}
    </div>

    <div class="mt6 container center">
        <div class="row flex-nowrap">
            test
        </div>

        <a class="link underline" href="/">
            test2
        </a>
    </div>
{% endblock %}
