# SPDX-FileCopyrightText: 2025 Cas Dijkman
#
# SPDX-License-Identifier: GPL-3.0-only

# -*- mode: gitignore; -*-

### Node ###
# Dependency directories
node_modules/

# Logs
yarn-debug.log*
yarn-error.log*

# yarn v4
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

### Emacs ###
*~
\#*\#
.\#*

### Project specific ###
c4s-pro-data.js
dist/**/*
!dist/modules/
!dist/**/*.css
dist/**/*.raw.css
