<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>My CSS library demo</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="dist/c4s-all.css"    rel="stylesheet">
	<link href="dist/c4s-small.css"  rel="stylesheet" media="(max-width: 30em)">
	<link href="dist/c4s-medium.css" rel="stylesheet" media="(min-width: 30em) and (max-width: 60em)">
	<link href="dist/c4s-large.css"  rel="stylesheet" media="(min-width: 60em) and (max-width: 90em)">
	<link href="dist/c4s-huge.css"   rel="stylesheet" media="(min-width: 90em)">
	<link href="dist/c4s-print.css"  rel="stylesheet" media="print" disabled>
    </head>
    <body class="p3">
	<h1 class="mt0">
	    My CSS library demo
	</h1>
	<h2>
	    Padding
	</h2>
	<h3>
	    Padding all
	</h3>

	<h4 class="mb1">
	    <code>p0</code>
	</h4>
	<div class="dib white bg-black p0">
	    Element with class p0
	</div>

	<h4 class="mb1">
	    <code>p1</code>
	</h4>
	<div class="dib white bg-black p1">
	    Element with class p1
	</div>

	<h4 class="mb1">
	    <code>p2</code>
	</h4>
	<div class="dib white bg-black p2">
	    Element with class p2
	</div>

	<h4 class="mb1">
	    <code>p3</code>
	</h4>
	<div class="dib white bg-black p3">
	    Element with class p3
	</div>

	<h4 class="mb1">
	    <code>p4</code>
	</h4>
	<div class="dib white bg-black p4">
	    Element with class p4
	</div>
	<h4 class="mb1">
	    <code>p5</code>
	</h4>
	<div class="dib white bg-black p5">
	    Element with class p5
	</div>

	<h4 class="mb1">
	    <code>p6</code>
	</h4>
	<div class="dib white bg-black p6">
	    Element with class p6
	</div>

	<h4 class="mb1">
	    <code>p7</code>
	</h4>
	<div class="dib white bg-black p7">
	    Element with class p7
	</div>

	<h2>
	    Margin
	</h2>
	<h3>
	    Margin all
	</h3>

	<h4 class="mb1">
	    <code>m0</code>
	</h4>
	<div class="dib ba">
	    <div class="dib white bg-black m0">
		Element with class m0
	    </div>
	</div>

	<h4 class="mb1">
	    <code>m1</code>
	</h4>
	<div class="dib ba">
	    <div class="dib white bg-black m1">
		Element with class m1
	    </div>
	</div>

	<h4 class="mb1">
	    <code>m2</code>
	</h4>
	<div class="dib ba">
	    <div class="dib white bg-black m2">
		Element with class m2
	    </div>
	</div>

	<h4 class="mb1">
	    <code>m3</code>
	</h4>
	<div class="dib ba">
	    <div class="dib white bg-black m3">
		Element with class m3
	    </div>
	</div>

	<h4 class="mb1">
	    <code>m4</code>
	</h4>
	<div class="dib ba">
	    <div class="dib white bg-black m4">
		Element with class m4
	    </div>
	</div>

	<h4 class="mb1">
	    <code>m5</code>
	</h4>
	<div class="dib ba">
	    <div class="dib white bg-black m5">
		Element with class m5
	    </div>
	</div>

	<h4 class="mb1">
	    <code>m6</code>
	</h4>
	<div class="dib ba">
	    <div class="dib white bg-black m6">
		Element with class m6
	    </div>
	</div>

	<h4 class="mb1">
	    <code>m7</code>
	</h4>
	<div class="dib ba">
	    <div class="dib white bg-black m7">
		Element with class m7
	    </div>
	</div>

	<h2>
	    Headers
	</h2>
	<div class="dib ba p3">
	    <div class="f-headline b">headline</div>
	    <div class="f-subheadline b">subheadline</div>
            <h1  class="mv0">h1 header</h1>
            <h2  class="mv0">h2 header</h2>
            <h3  class="mv0">h3 header</h3>
            <h4  class="mv0">h4 header</h4>
            <h5  class="mv0">h5 header</h5>
            <h6  class="mv0">h6 header</h6>
            <p   class="mv0">regular text</p>
	</div>
    </body>
</html>
