/*
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin border-width($media: null) {
  $global-prefix: variables.$global-prefix;
  $prefix: variables.$border-width-prefix;

  @each $border-width, $value in variables.$border-widths {
    #{functions.construct-class-name($global-prefix, $prefix + $border-width, $media)} {
      border-width: $value;
    }
  }
}
