/*
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';
@use 'sass:map';

@mixin border($media: null) {
  $global-prefix: variables.$global-prefix;

  @each $name, $map in variables.$borders {
    $direction: map.get($map, 'border-direction');
    $property-style: functions.list-to-dash-separated-string((border, $direction, style));
    $property-width: functions.list-to-dash-separated-string((border, $direction, width));

    #{functions.construct-class-name($global-prefix, $name, $media)} {
      #{$property-style}: map.get($map, 'border-style');
      #{$property-width}: map.get($map, 'border-width');
    }
  }
}
