/*
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin border-color($media: null) {
  $global-prefix: variables.$global-prefix;
  $prefix: variables.$border-color-prefix;

  @each $color, $value in variables.$colors {
    #{functions.construct-class-name($global-prefix, $prefix + $color, $media)} {
      border-color: $value;
    }
  }
}
