/*
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin box-shadow($media: null) {
  $global-prefix: variables.$global-prefix;
  $name: variables.$box-shadow-name;

  @each $class-name, $value in variables.$box-shadows {
    #{functions.construct-class-name($global-prefix, $name, $class-name, $media)} {
      box-shadow: $value;
    }
  }
}
