@use '../../functions';
@use '../../variables';

@mixin cursor() {
  $global-prefix: variables.$global-prefix;
  $name: variables.$cursor-name;

  @each $cursor in variables.$cursors {
    #{functions.construct-class-name($global-prefix, $name, $cursor)} {
      cursor: $cursor;
    }
  }
}
