/*
 * SPDX-FileCopyrightText: 2024 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin cursor($media: null) {
  $global-prefix: variables.$global-prefix;
  $name: variables.$cursor-name;

  @each $class-name, $value in variables.$cursors {
    #{functions.construct-class-name($global-prefix, $name, $class-name, $media)} {
      cursor: $value;
    }
  }
}
