/*
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';
@use '../mixins';
@use 'sass:map';
@use 'sass:list';

@mixin debug($media: null) {
  $global-prefix: variables.$global-prefix;

  /*
   * Credit to Adam Morse and John Otander from Tachyons for the debug grids and outlines
   * See http://tachyons.io/docs/debug-grid/ and http://tachyons.io/docs/debug/
   */
  $grid-name: variables.$debug-grid-name;

  @each $name, $map in variables.$debug-grids {
    $background: map.get($map, background);
    $data-url: map.get($map, data-url);

    #{functions.construct-class-name($global-prefix, $grid-name, $name, $media)} {
      background: #{$background} url($data-url) repeat top left;
    }
  }

  .debug-outlines * {
    outline: 1px solid gold;
  }

  /*
   * Credit to Chris Coyier from CSSTricks for the striped background
   * See https://css-tricks.com/stripes-css/
   */
  $striped-name: variables.$debug-striped-name;

  @each $name, $list in variables.$debug-striped-items {
    #{functions.construct-class-name($global-prefix, $striped-name, $name, $media)} {
      background-image:
        repeating-linear-gradient(
          -45deg,
          list.nth($list, 1),
          list.nth($list, 1) 10px,
          list.nth($list, 2) 10px,
          list.nth($list, 2) 20px
        );
    }
  }
}
