/*
 * SPDX-FileCopyrightText: 2025 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin flex-direction($media: null) {
  $global-prefix: variables.$global-prefix;
  $module-name: variables.$flex-direction-name;

  @each $name, $value in variables.$flex-directions {
    #{functions.construct-class-name($global-prefix, $module-name, $name, $media)} {
      flex-direction: $value;
    }
  }
}
