/*
 * SPDX-FileCopyrightText: 2025 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin float($media: null) {
  $global-prefix: variables.$global-prefix;
  $prefix: variables.$float-prefix;

  @each $name, $value in variables.$floats {
    #{functions.construct-class-name($global-prefix, $prefix + $name, $media)} {
      float: $value;
    }
  }

  #{functions.construct-class-name($global-prefix, clearfix, $media)}::after {
    content: '';
    display: block;
    clear: both;
  }
}
