/*
 * SPDX-FileCopyrightText: 2025 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin grid($media: null) {
  $global-prefix: variables.$global-prefix;
  $name: variables.$column-name;

  #{functions.construct-class-name($global-prefix, variables.$row-name, $media)} {
    display: flex;
    flex-wrap: wrap;
  }

  #{functions.construct-class-name($global-prefix, $name, $media)} {
    flex: 1 0 0%;
  }

  @each $class-name, $value in variables.$columns {
    #{functions.construct-class-name($global-prefix, $name, $class-name, $media)} {
      flex: 0 0 auto;
    }
  }

  @each $class-name, $value in variables.$columns {
    #{functions.construct-class-name($global-prefix, $name, $class-name, $media)} {
      width: $value;
    }
  }

  #{functions.construct-class-name($global-prefix, column-gap, $media)} {
    --column-gap: 1rem;

    column-gap: var(--column-gap);
  }

  #{functions.construct-class-name($global-prefix, row-gap, $media)} {
    --row-gap: 1rem;

    row-gap: var(--row-gap);
  }

  /*
     The `--column-gap` variable is also used in calculating column widths in the grid
     system, that is why `column-gap` is also set to the value of `--gap`.
   */
  #{functions.construct-class-name($global-prefix, gap, $media)} {
    --gap: 1rem;
    --column-gap: var(--gap);

    gap: var(--gap);
  }
}
