/*
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin height($media: null) {
  $global-prefix: variables.$global-prefix;
  $prefix: variables.$height-prefix;

  @each $level, $value in variables.$sizer-levels {
    #{functions.construct-class-name($global-prefix, $prefix + $level, $media)} {
      height: $value;
    }
  }
}
