/*
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin hover-background-color($media: null) {
  $global-prefix: variables.$global-prefix;
  $name: variables.$hover-background-color-name;

  @each $color, $value in variables.$colors {
    #{functions.construct-class-name($global-prefix, $name, $color, $media)}:hover {
      background-color: $value;
    }
  }

  #{functions.construct-class-name($global-prefix, bg-animate, $media)} {
    transition: background-color .15s ease-in-out;
  }
}
