/*
 * SPDX-FileCopyrightText: 2024 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin line-height($media: null) {
  $global-prefix: variables.$global-prefix;
  $name: variables.$line-height-name;

  @each $level, $value in variables.$line-height-levels {
    #{functions.construct-class-name($global-prefix, $name, $level, $media)} {
      line-height: $value;
    }
  }
}
