/*
 * SPDX-FileCopyrightText: 2025 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';
@use 'sass:map';

@mixin max-width($media: null) {
  $global-prefix: variables.$global-prefix;
  $prefix: variables.$max-width-prefix;

  @each $level, $value in variables.$max-widths {
    #{functions.construct-class-name($global-prefix, $prefix + $level, $media)} {
      max-width: $value;
    }
  }
}
