/*
 * SPDX-FileCopyrightText: 2024 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';
@use 'sass:map';

@mixin min-height($media: null) {
  $global-prefix: variables.$global-prefix;
  $prefix: variables.$min-height-prefix;

  @each $level, $value in variables.$min-max-heights {
    #{functions.construct-class-name($global-prefix, $prefix, $level, $media)} {
      min-height: $value;
    }
  }
}
