/*
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin miscellaneous($media: null) {
  $global-prefix: variables.$global-prefix;

  #{functions.construct-class-name($global-prefix, list-reset, $media)} {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  #{functions.construct-class-name($global-prefix, button-reset, $media)} {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background-color: inherit;
    text-align: inherit;
    border-style: none;
    padding: 0;
  }

  #{functions.construct-class-name($global-prefix, stretch, $media)} {
    position: absolute;
    inset: 0;
  }

  #{functions.construct-class-name($global-prefix, stretch-pseudo, $media)}::after {
    position: absolute;
    inset: 0;
    content: '';
    pointer-events: auto;
    background-color: transparent;
  }

  #{functions.construct-class-name($global-prefix, dn-empty, $media)}:empty {
    display: none;
  }

  #{functions.construct-class-name($global-prefix, truncate, $media)} {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #{functions.construct-class-name($global-prefix, svg-wrapper, $media)} {
    width: 1.5rem;
    height: 1.5rem;
    max-height: 100%;

    svg {
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
  }

  #{functions.construct-class-name($global-prefix, sr-only, $media)} {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  #{functions.construct-class-name($global-prefix, isolate, $media)} {
    isolation: isolate;
  }
}
