/*
 * SPDX-FileCopyrightText: 2024 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin opacity($media: null) {
  $global-prefix: variables.$global-prefix;
  $name: variables.$opacity-name;

  @each $opacity, $value in variables.$opacity-levels {
    #{functions.construct-class-name($global-prefix, $name, $opacity, $media)} {
      opacity: $value;
    }
  }
}
