@use '../../functions';
@use '../../variables';

@mixin opacity() {
  $global-prefix: variables.$global-prefix;
  $name: variables.$opacity-name;

  @each $opacity, $value in variables.$opacity-levels {
    #{functions.construct-class-name($global-prefix, $name, $opacity)} {
      opacity: $value;
    }
  }
}
