/*
 * SPDX-FileCopyrightText: 2024 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin resize($media: null) {
  $global-prefix: variables.$global-prefix;
  $name: variables.$resize-name;

  @each $class-name, $value in variables.$resizes {
    #{functions.construct-class-name($global-prefix, $name, $class-name, $media)} {
      resize: $value;
    }
  }
}
