/*
 * SPDX-FileCopyrightText: 2024 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../variables';
@use 'sass:color';
@use 'sass:map';
@use 'sass:string';

@mixin reset($media: null) {
  @if $media {
    @error 'Reset module is not compatible with responsiveness';
  }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%; // stylelint-disable property-no-vendor-prefix

    @if variables.$enable-smooth-scroll {
      @if variables.$force-smooth-scroll {
        scroll-behavior: smooth;
      } @else {
        @media (prefers-reduced-motion: no-preference) {
          scroll-behavior: smooth;
        }
      }
    }

    @if variables.$document-bg-color {
      @if color.change(variables.$document-bg-color, $alpha: 1) != white {
        background-color: variables.$document-bg-color;
      }
    }
  }

  body {
    margin: 0;
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  img:where(:not(.#{variables.$prevent-reset-class})) {
    display: block;
    max-width: 100%;
    height: auto;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.75rem;
    margin-bottom: 1rem;

    @if map.get(variables.$line-height-levels, 'title') {
      line-height: map.get(variables.$line-height-levels, 'title');
    }
  }

  @if map.get(variables.$font-sizes, 'f1') {
    h1 {
      font-size: map.get(variables.$font-sizes, 'f1');
    }
  }

  @if map.get(variables.$font-sizes, 'f2') {
    h2 {
      font-size: map.get(variables.$font-sizes, 'f2');
    }
  }

  @if map.get(variables.$font-sizes, 'f3') {
    h3 {
      font-size: map.get(variables.$font-sizes, 'f3');
    }
  }

  @if map.get(variables.$font-sizes, 'f4') {
    h4 {
      font-size: map.get(variables.$font-sizes, 'f4');
    }
  }

  @if map.get(variables.$font-sizes, 'f5') {
    h5 {
      font-size: map.get(variables.$font-sizes, 'f5');
    }
  }

  @if map.get(variables.$font-sizes, 'f6') {
    h6 {
      font-size: map.get(variables.$font-sizes, 'f6');
    }
  }

  @if map.get(variables.$font-sizes, 'small') {
    small {
      font-size: map.get(variables.$font-sizes, 'small');
    }
  }

  @if map.get(variables.$line-height-levels, 'copy') {
    p {
      line-height: map.get(variables.$line-height-levels, 'copy');
    }
  }

  @if map.get(variables.$font-families, 'code') {
    code {
      font-family: string.unquote(map.get(variables.$font-families, 'code'));
    }
  }
}
