/*
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin transition($media: null) {
  $global-prefix: variables.$global-prefix;
  $name: variables.$transition-name;

  @each $class-name, $transition in variables.$transition-properties {
    @each $level, $value in variables.$transition-speeds {
      $constructed-class-name: functions.construct-class-name(
        $global-prefix,
        $name,
        $class-name,
        $level,
        $media
      );

      #{$constructed-class-name} {
        transition: $transition $value ease-in-out;
      }
    }
  }
}
