/*
 * SPDX-FileCopyrightText: 2025 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin user-select($media: null) {
  $global-prefix: variables.$global-prefix;
  $name: variables.$user-select-name;

  @each $class-name, $value in variables.$user-selects {
    #{functions.construct-class-name($global-prefix, $name, $class-name, $media)} {
      user-select: $value;
    }
  }
}
