/*
 * SPDX-FileCopyrightText: 2025 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use '../functions';
@use '../variables';

@mixin width($media: null) {
  $global-prefix: variables.$global-prefix;
  $prefix: variables.$width-prefix;

  @each $level, $value in variables.$widths {
    #{functions.construct-class-name($global-prefix, $prefix + $level, $media)} {
      width: $value;
    }
  }

  $vw-prefix: variables.$view-width-prefix;

  @each $level, $value in variables.$view-widths {
    #{functions.construct-class-name($global-prefix, $vw-prefix + $level, $media)} {
      width: $value;
    }
  }

  #{functions.construct-class-name($global-prefix, min-vw-100, $media)} {
    min-width: 100vw;
  }
}
