{#
SPDX-FileCopyrightText: 2021 Cas Dijkman

SPDX-License-Identifier: GPL-3.0-only
#}

{% extends "docs/layouts/default.njk" %}

{% import "docs/macros/example.njk" as example %}

{% set description = "C4S CSS documentation examples page" %}

{% block content %}
    <style>
     /* https://github.com/highlightjs/highlight.js/blob/main/src/styles/vs.css */

     .hljs-comment,
     .hljs-quote,
     .hljs-variable {
       color: #008000;
     }

     .hljs-keyword,
     .hljs-selector-tag,
     .hljs-built_in,
     .hljs-name,
     .hljs-tag {
       color: #00f;
     }

     .hljs-string,
     .hljs-title,
     .hljs-section,
     .hljs-attribute,
     .hljs-literal,
     .hljs-template-tag,
     .hljs-template-variable,
     .hljs-type,
     .hljs-addition {
       color: #a31515;
     }

     .hljs-deletion,
     .hljs-selector-attr,
     .hljs-selector-pseudo,
     .hljs-meta {
       color: #2b91af;
     }

     .hljs-doctag {
       color: #808080;
     }

     .hljs-attr {
       color: #f00;
     }

     .hljs-symbol,
     .hljs-bullet,
     .hljs-link {
       color: #00b0e8;
     }


     .hljs-emphasis {
       font-style: italic;
     }

     .hljs-strong {
       font-weight: bold;
     }
    </style>

    {% for file in files %}
        {% if file.isModule and file.isRaw %}
            <h2 class="f4 mt0">
                {{ file.name | replace("-", " ") | title }}
            </h2>

            <details class="mb4">
                <summary class="p2 cursor-pointer">
                    More information
                </summary>

                {% for rule in file.css.stylesheet.rules %}
                    <div class="pv3 pl3 mb4 bl b--silver">
                        {% set ruleText %}{{ rule.selectors | join(", ") }} {{ "{" }}{% for declaration in rule.declarations %}
                        {{ declaration.property }}: {{ declaration.value }};{% endfor %}
                        }{% endset %}

                        <div class="overflow-x-auto mt4-between">
                            <pre class="hljs dib mv0"><code>{{ ruleText | highlight | safe }}</code></pre>
                        </div>

                        <div class="mt4-between hide-empty">
                            {{ example.example(file.name, rule.selectors, rule.declarations) }}
                        </div>
                    </div>
                {% endfor %}
            </details>
        {% endif %}
    {% endfor %}
{% endblock %}
