{#
    SPDX-FileCopyrightText: 2025 Cas Dijkman

    SPDX-License-Identifier: GFDL-1.3-only
    #}

<img
    class="di"
    alt="External link icon"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAAm0lEQVQ4T2NkwA3+o0kdBPIdoGIJQHo+Nq2MZBoI0obVUGIMXAjUvACIPwDxBTQHHADy7ZHFiDGwEaihAYtPQJbEo4uTayC6YQ+BBsuDDCfHQHTDLkIjKwAUUeQYiBwZMMNA4QuOKHIMhMVwAdRlMMPAJpJrIHpcGAAF+qlpoAPQsP0DZiAoVkEYHwB5eQKxLiRgFqo0MZFCkoEApdguI9aaLkcAAAAASUVORK5CYII="
>
