{% for file in files %}
    <h1>{{ file.name }}</h1>

    {% for rule in file.css.stylesheet.rules %}
	{% if rule.type === 'rule' %}
	    <dl>
		<dt>
		    {{ rule.selectors | join(', ') }}
		</dt>
		<dd>
		    {% for declaration in rule.declarations %}
			<div>
			    {{ declaration.property }}: {{ declaration.value }}
			</div>
		    {% endfor %}
		</dd>
	    </dl>
	{% endif %}
    {% endfor %}
{% endfor %}
