@use '../../functions';
@use '../../variables';

@mixin border-radius($media-suffix) {
  $global-prefix: variables.$global-prefix;
  $prefix: variables.$border-radius-prefix;

  @each $level, $value in variables.$border-radius-levels {
    #{functions.construct-class-name($global-prefix, $prefix + $level, $media-suffix)} {
      border-radius: $value;
    }
  }
}
