@mixin border($media-suffix) {

  .ba#{$media-suffix} {
    border-style: solid;
    border-width: 1px;
  }

  .bt#{$media-suffix} {
    border-top-style: solid;
    border-top-width: 1px;
  }

  .br#{$media-suffix} {
    border-right-style: solid;
    border-right-width: 1px;
  }

  .bb#{$media-suffix} {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .bl#{$media-suffix} {
    border-left-style: solid;
    border-left-width: 1px;
  }

  .bn#{$media-suffix} {
    border-style: none;
    border-width: 0;
  }

}
