@use '../../variables';

@mixin coordinates($media-suffix) {
  @each $level, $value in variables.$coordinate-spacer-levels {
    .#{variables.$global-prefix}top#{$level}#{$media-suffix} {
      top: $value;
    }

    .#{variables.$global-prefix}right#{$level}#{$media-suffix} {
      right: $value;
    }

    .#{variables.$global-prefix}bottom#{$level}#{$media-suffix} {
      bottom: $value;
    }

    .#{variables.$global-prefix}left#{$level}#{$media-suffix} {
      left: $value;
    }
  }
}
