@use '../../functions';
@use '../../variables';

$flex-wraps: wrap, nowrap, wrap-reverse;
$flex-aligns: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
);
$flex-align-contents: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  stretch: stretch
);
$flex-justify-contents: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);
$flex-grows: (
  '0': 0,
  '1': 1
);
$flex-shrinks: (
  '0': 0,
  '1': 1
);
$flex-orders: (
  1:    1,
  2:    2,
  3:    3,
  4:    4,
  5:    5,
  6:    6,
  7:    7,
  8:    8,
  9:    9,
  last: 99999
);

@mixin flex($media-suffix) {
  // FLEX WRAP
  @each $flex-wrap in $flex-wraps {
    #{functions.construct-class-name(variables.$global-prefix, flex, $flex-wrap, $media-suffix)} {
      flex-wrap: $flex-wrap;
    }
  }

  @each $name, $value in $flex-aligns {
    // ALIGN ITEMS
    #{functions.construct-class-name(variables.$global-prefix, items, $name, $media-suffix)} {
      align-items: $value;
    }
  }

  @each $name, $value in $flex-aligns {
    // ALIGN SELF
    #{functions.construct-class-name(variables.$global-prefix, self, $name, $media-suffix)} {
      align-self: $value;
    }
  }

  @each $name, $value in $flex-align-contents {
    // ALIGN CONTENT
    #{functions.construct-class-name(variables.$global-prefix, content, $name, $media-suffix)} {
      align-content: $value;
    }
  }

  @each $name, $value in $flex-justify-contents {
    // JUSTIFY CONTENT
    #{functions.construct-class-name(variables.$global-prefix, justify, $name, $media-suffix)} {
      justify-content: $value;
    }
  }

  @each $name, $value in $flex-grows {
    // FLEX GROW
    #{functions.construct-class-name(variables.$global-prefix, flex-grow, $name, $media-suffix)} {
      flex-grow: $value;
    }
  }

  @each $name, $value in $flex-shrinks {
    // FLEX SHRINK
    #{functions.construct-class-name(variables.$global-prefix, flex-shrink, $name, $media-suffix)} {
      flex-shrink: $value;
    }
  }

  // @each $name, $value in $flex-orders {
  //   // FLEX ORDER
  //   #{functions.construct-class-name(variables.$global-prefix, order, $name, $media-suffix)} {
  //     order: $value;
  //   }
  // }
}
