@use '../../functions';
@use '../../variables';

$global-prefix: variables.$global-prefix;
$moduleName: variables.$flex-direction-name;

@mixin flex-direction($media-suffix) {
  @each $name, $value in variables.$flex-directions {
    #{functions.construct-class-name($global-prefix, $moduleName, $name, $media-suffix)} {
      flex-direction: $value;
    }
  }
}
