@use '../../variables';

@mixin float($media-suffix) {
  .#{variables.$global-prefix}fl#{$media-suffix} {
    float: left;
  }

  .#{variables.$global-prefix}fr#{$media-suffix} {
    float: right;
  }

  .#{variables.$global-prefix}fn#{$media-suffix} {
    float: none;
  }
}
