@use '../../functions';
@use '../../variables';

$global-prefix: variables.$global-prefix;
$prefix: variables.$float-prefix;

@mixin float($media-suffix) {
  @each $name, $value in variables.$floats {
    #{functions.construct-class-name($global-prefix, $prefix + $name, $media-suffix)} {
      float: $value;
    }
  }
}
