@use '../../functions';
@use '../../variables';

$global-prefix: variables.$global-prefix;
$prefix: variables.$height-prefix;

@mixin height($media-suffix) {
  @each $level, $value in variables.$sizer-levels {
    #{functions.construct-class-name($global-prefix, $prefix + $level, $media-suffix)} {
      height: $value;
    }
  }
}
