@use '../../functions';
@use '../../variables';

@mixin line-height($media-suffix) {
  $global-prefix: variables.$global-prefix;
  $name: variables.$line-height-name;

  @each $level, $value in variables.$line-height-levels {
    #{functions.construct-class-name($global-prefix, $name, $level, $media-suffix)} {
      line-height: $value;
    }
  }
}
