// Add auto as a level for margins with -auto suffix
// NB: Margin-all and margin-vertical rules do not include the '-auto' suffix
$margin-spacer-levels: map-merge($spacer-levels, ("-auto": auto));

@mixin margin($media-suffix) {

  // Margin all
  @each $level, $value in $spacer-levels {
    .m#{$level}#{$media-suffix} { margin: $value; }
  }

  // Margin top
  @each $level, $value in $margin-spacer-levels {
    .mt#{$level}#{$media-suffix} { margin-top: $value; }
  }

  // Margin right
  @each $level, $value in $margin-spacer-levels {
    .mr#{$level}#{$media-suffix} { margin-right: $value; }
  }

  // Margin bottom
  @each $level, $value in $margin-spacer-levels {
    .mb#{$level}#{$media-suffix} { margin-bottom: $value; }
  }

  // Margin left
  @each $level, $value in $margin-spacer-levels {
    .ml#{$level}#{$media-suffix} { margin-left: $value; }
  }

  // Margin horizontal
  @each $level, $value in $margin-spacer-levels {
    .mh#{$level}#{$media-suffix} {
      margin-left: $value;
      margin-right: $value;
    }
  }

  // Margin vertical
  @each $level, $value in $spacer-levels {
    .mv#{$level}#{$media-suffix} {
      margin-top: $value;
      margin-bottom: $value;
    }
  }

}
