@use '../../variables';
@use 'sass:map';

// Add auto as a level for margins with -auto suffix
// NB: Margin-all and margin-vertical rules do not include the '-auto' suffix
$margin-spacer-levels: map.merge(variables.$spacer-levels, ('-auto': auto));

@mixin margin($media-suffix) {
  /*
     MARGIN ALL
  */
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}m#{$level}#{$media-suffix} {
      margin: $value;
    }
  }

  /*
     MARGIN TOP
   */
  @each $level, $value in $margin-spacer-levels {
    .#{variables.$global-prefix}mt#{$level}#{$media-suffix} {
      margin-top: $value;
    }
  }

  /*
     MARGIN RIGHT
   */
  @each $level, $value in $margin-spacer-levels {
    .#{variables.$global-prefix}mr#{$level}#{$media-suffix} {
      margin-right: $value;
    }
  }

  /*
     MARGIN BOTTOM
   */
  @each $level, $value in $margin-spacer-levels {
    .#{variables.$global-prefix}mb#{$level}#{$media-suffix} {
      margin-bottom: $value;
    }
  }

  /*
     MARGIN LEFT
   */
  @each $level, $value in $margin-spacer-levels {
    .#{variables.$global-prefix}ml#{$level}#{$media-suffix} {
      margin-left: $value;
    }
  }

  /*
     MARGIN HORIZONTAL
   */
  @each $level, $value in $margin-spacer-levels {
    .#{variables.$global-prefix}mh#{$level}#{$media-suffix} {
      margin-left: $value;
      margin-right: $value;
    }
  }

  /*
     MARGIN VERTICAL
   */
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}mv#{$level}#{$media-suffix} {
      margin-top: $value;
      margin-bottom: $value;
    }
  }
}
