@use '../../functions';
@use '../../variables';

// Note: Margin-all and margin-vertical rules do not include the '-auto' suffix

$margins: (
  m:  margin,
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left
);

@mixin margin($media-suffix) {
  @each $name, $property in $margins {
    $levels: ();

    @if $property == margin {
      $levels: variables.$spacer-levels;
    } @else {
      $levels: variables.$margin-spacer-levels;
    }

    @each $level, $value in $levels {
      #{functions.construct-class-name(variables.$global-prefix, $name + $level, $media-suffix)} {
        #{$property}: $value;
      }
    }
  }

  // MARGIN HORIZONTAL
  @each $level, $value in variables.$margin-spacer-levels {
    #{functions.construct-class-name(variables.$global-prefix, mh + $level, $media-suffix)} {
      margin-left: $value;
      margin-right: $value;
    }
  }

  // MARGIN VERTICAL
  @each $level, $value in variables.$spacer-levels {
    #{functions.construct-class-name(variables.$global-prefix, mv + $level, $media-suffix)} {
      margin-top: $value;
      margin-bottom: $value;
    }
  }
}
