@use '../../functions';
@use '../../variables';

$measures: (
  measure-narrow: 20em,
  measure: 30em,
  measure-wide: 34em
);

@mixin measure($media-suffix) {
  @each $name, $value in $measures {
    #{functions.construct-class-name(variables.$global-prefix, $name, $media-suffix)} {
      max-width: $value;
    }
  }
}
