@use '../../variables';

@mixin measure($media-suffix) {
  .#{variables.$global-prefix}measure-narrow#{$media-suffix} {
    max-width: 20em;
  }

  .#{variables.$global-prefix}measure#{$media-suffix} {
    max-width: 30em;
  }

  .#{variables.$global-prefix}measure-wide#{$media-suffix} {
    max-width: 34em;
  }
}
