@use '../../functions';
@use '../../variables';
@use 'sass:map';

@mixin padding($media-suffix) {
  $global-prefix: variables.$global-prefix;

  @each $name, $map in variables.$paddings {
    $levels: map.get($map, levels);
    $properties: map.get($map, properties);

    @each $level, $value in $levels {
      #{functions.construct-class-name($global-prefix, $name + $level, $media-suffix)} {
        @each $property in $properties {
          #{$property}: $value;
        }
      }
    }
  }
}
