@use '../../functions';
@use '../../variables';

$paddings: (
  p:  padding,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left
);

@mixin padding($media-suffix) {
  @each $name, $property in $paddings {
    @each $level, $value in variables.$spacer-levels {
      #{functions.construct-class-name(variables.$global-prefix, $name + $level, $media-suffix)} {
        #{$property}: $value;
      }
    }
  }

  // Padding horizontal
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}ph#{$level}#{$media-suffix} {
      padding-left: $value;
      padding-right: $value;
    }
  }

  // Padding vertical
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}pv#{$level}#{$media-suffix} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }

}
