@use '../../variables';

@mixin padding($media-suffix) {
  // Padding all
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}p#{$level}#{$media-suffix} {
      padding: $value;
    }
  }

  // Padding top
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}pt#{$level}#{$media-suffix} {
      padding-top: $value;
    }
  }

  // Padding right
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}pr#{$level}#{$media-suffix} {
      padding-right: $value;
    }
  }

  // Padding bottom
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}pb#{$level}#{$media-suffix} {
      padding-bottom: $value;
    }
  }

  // Padding left
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}pl#{$level}#{$media-suffix} {
      padding-left: $value;
    }
  }

  // Padding horizontal
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}ph#{$level}#{$media-suffix} {
      padding-left: $value;
      padding-right: $value;
    }
  }

  // Padding vertical
  @each $level, $value in variables.$spacer-levels {
    .#{variables.$global-prefix}pv#{$level}#{$media-suffix} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }

}
