@use '../../variables';

@mixin position($media-suffix) {
  .#{variables.$global-prefix}static#{$media-suffix} {
    position: static;
  }

  .#{variables.$global-prefix}absolute#{$media-suffix} {
    position: absolute;
  }

  .#{variables.$global-prefix}relative#{$media-suffix} {
    position: relative;
  }

  .#{variables.$global-prefix}fixed#{$media-suffix} {
    position: fixed;
  }

  .#{variables.$global-prefix}sticky#{$media-suffix} {
    position: sticky;
  }
}
