@use '../../variables';

@mixin tracking($media-suffix) {
  .#{variables.$global-prefix}tracked#{$media-suffix} {
    letter-spacing: .1em;
  }

  .#{variables.$global-prefix}tracked-tight#{$media-suffix} {
    letter-spacing: -.05em;
  }

  .#{variables.$global-prefix}tracked-mega#{$media-suffix} {
    letter-spacing: .25em;
  }
}
