@use '../../functions';
@use '../../variables';

$trackings: (
  tracked:        .1em,
  tracked-tight: -.05em,
  tracked-mega:   .25em
);

@mixin tracking($media-suffix) {
  @each $name, $value in $trackings {
    #{functions.construct-class-name(variables.$global-prefix, $name, $media-suffix)} {
      letter-spacing: $value;
    }
  }
}
