@use '../../variables';

@mixin vertical-align($media-suffix) {
  .#{variables.$global-prefix}v-mid#{$media-suffix},
  .#{variables.$global-prefix}v-middle#{$media-suffix} {
    vertical-align: middle;
  }

  .#{variables.$global-prefix}v-base#{$media-suffix} {
    vertical-align: baseline;
  }

  .#{variables.$global-prefix}v-top#{$media-suffix} {
    vertical-align: top;
  }

  .#{variables.$global-prefix}v-bottom#{$media-suffix} {
    vertical-align: bottom;
  }

  .#{variables.$global-prefix}v-text-top#{$media-suffix} {
    vertical-align: text-top;
  }

  .#{variables.$global-prefix}v-text-bottom#{$media-suffix} {
    vertical-align: text-bottom;
  }

  .#{variables.$global-prefix}v-sub#{$media-suffix} {
    vertical-align: sub;
  }

  .#{variables.$global-prefix}v-super#{$media-suffix} {
    vertical-align: super;
  }
}
