@use '../../functions';
@use '../../variables';

$vertical-aligns: (
  mid:         middle,
  middle:      middle,
  base:        baseline,
  top:         top,
  bottom:      bottom,
  text-top:    text-top,
  text-bottom: text-bottom,
  sub:         sub,
  super:       super
);

@mixin vertical-align($media-suffix) {
  @each $name, $value in $vertical-aligns {
    #{functions.construct-class-name(variables.$global-prefix, v, $name, $media-suffix)} {
      vertical-align: $value;
    }
  }
}
