@use '../../variables';

@mixin white-space($media-suffix) {
  .#{variables.$global-prefix}nowrap#{$media-suffix} {
    white-space: nowrap;
  }

  .#{variables.$global-prefix}pre#{$media-suffix} {
    white-space: pre;
  }

  /* .#{variables.$global-prefix}ws-normal#{$media-suffix} {
     white-space: normal;
     } */
}
