@use '../../functions';
@use '../../variables';

@mixin width($media-suffix) {
  $global-prefix: variables.$global-prefix;
  $prefix: variables.$width-prefix;

  @each $level, $value in variables.$sizer-levels {
    #{functions.construct-class-name($global-prefix, $prefix + $level, $media-suffix)} {
      width: $value;
    }
  }
}
