{#
SPDX-FileCopyrightText: 2021 Cas Dijkman

SPDX-License-Identifier: GPL-3.0-only
#}

<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>C4S CSS library documentation</title>
	<meta name="description" content="{{ description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/c4s.css?v={{ version | slug }}" rel="stylesheet">
	<script defer="defer" src="/js/main.js?v={{ version | slug }}"></script>
    </head>
    <body class="sans-serif">
	<div class="df flex-column min-vh-100">
	    <div class="js-header sticky w-100 top-0 bg-white bb b--moon-gray transition-transform-medium" style="z-index: 1;">
		<div class="container-m center p3 pb2">
		    <div class="df items-center">
			<a href="/" class="link inherit">
			    <h1 class="mv0 lh-solid">
				<span class="tracked-tight">C4S</span>
				docu&shy;menta&shy;tion
			    </h1>
			</a>
			<span class="dn db-m p3">Version {{ version }}</span>
		    </div>
		</div>
	    </div>

	    <main class="relative flex-grow-1">
		<div class="container-m center p3">
		    {% block content %}{% endblock %}
		</div>
	    </main>

	    {# <footer>
	    footer
	    </footer> #}
	</div>
    </body>
</html>
