<!doctype html>
<html>
    <head>
	<meta charset="utf-8">
	<title>My CSS library demo</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/c4s-all.css" rel="stylesheet">
    </head>
    <body class="sans-serif p3">
	{% block content %}{% endblock %}
    </body>
</html>
