<!doctype html>
<!--!
     SPDX-FileCopyrightText: 2025 Cas Dijkman

     SPDX-License-Identifier: GFDL-1.3-only
-->
<html class="overflow-x-hidden" lang="en">
    <head>
        <meta charset="utf-8">
        <title>C4S documentation</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/c4s-forms.css?v={{ VERSION | slug }}" rel="stylesheet">
        <link href="docs/stylesheets/main.css?v={{ VERSION | slug }}" rel="stylesheet">
        <script defer="defer" src="/js/main.js?v={{ VERSION | slug }}"></script>
    </head>
    <body class="sans-serif">
        <div class="df flex-column min-vh-100">

            <!-- Header -->
            <div
                class="js-header js-sticky sticky w-100 top-0 relative
                bg-white bb b--moon-gray transition-transform-medium z-2"
            >
                <div class="container-m center ph3 pv2">
                    <div class="df items-center justify-between">
                        <a href="/" class="df link color-inherit pr3 pt1">
                            <h1 class="mv0 lh-solid nowrap">
                                <span class="tracked-tight">C4S</span>
                                <span class="dn-l">docs</span>
                                <span class="dn di-l">docu&shy;menta&shy;tion</span>
                            </h1>

                            <span class="dn di-l p3">Version {{ VERSION }}</span>
                        </a>
                    </div>
                </div>


                {% set links = [
                    {
                        url: 'https://www.npmjs.com/package/@casd/c4s',
                        text: 'NPM',
                        iconPath: 'docs/icons/ionicons/logo-npm.svg'
                    },
                    {
                        url: 'https://github.com/casdijkman/c4s',
                        text: 'Github',
                        iconPath: 'docs/icons/ionicons/logo-github.svg'
                    }] %}


                <div class="absolute right-0 top-0 bottom-0 flex items-center pr2 pr3-m">
                    {% for link in links %}
                        <a
                            class="flex flex-column items-center link black p2 ml3-between"
                            href="{{ link.url }}"
                        >
                            <span class="svg-wrapper mb1">
                                {% include link.iconPath %}
                            </span>

                            {{ link.text }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <main class="relative flex-grow-1">
                {% block content %}{% endblock %}
            </main>

            <aside class="js-scroll-top fixed right-0 bottom-0 w3 h3 p2 pb1 mr3 mb3 ba br3 o-60 bg-white relative"
                style="display: none;">
                <a class="black stretch-pseudo" href="#top" title="Scroll back to top">
                    {% include "docs/icons/ionicons/arrow-up-outline.svg" %}
                </a>
            </aside>

            {% if not hideFooter %}
                <footer>
                    <div class="tc p3 bg-black white">
                        Free Palestine ✌️
                        <span class="sr-only">
                            From the river to the sea
                        </span>
                    </div>
                    <div
                        class="pb1"
                        style="background-image: linear-gradient(to right, #EE2A35 0%, #EE2A35 25%, black 25%, black 50%, white 50%, white 75%, #009736 75%, #009736 100%);"
                    >
                        <!--! Thanks to sass-lang.com for the Palestinian colors CSS snippet -->
                    </div>
                </footer>
            {% endif %}
        </div>
    </body>
</html>
