{#
    SPDX-FileCopyrightText: 2024 Cas Dijkman

    SPDX-License-Identifier: GFDL-1.3-only
#}

{% macro ruleText(rule) -%}{{ rule.selectors | join(", ") }} {{ "{" }}{% for declaration in rule.declarations %}
  {{ declaration.property }}: {{ declaration.value }};{% endfor %}
}{% endmacro %}

{% macro generic(file, rule) %}
    {% set ruleText %}{{ ruleText(rule) }}{% endset %}

    <div class="pv3 pl3 mt4-between bl b--silver">
        <div class="overflow-x-auto mt4-between">
            <pre class="hljs dib mv0"><code>{{ ruleText | highlight | safe }}</code></pre>
        </div>

        <div class="js-example mt4-between dn-empty">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}

{% macro exampleBoxDark(firstClass, caption, debugClass = "debug-striped-black", borderColorClass = "b--black") %}
    <div class="dib p3 ba {{ borderColorClass }} {{ debugClass }}">
        {{ caller(firstClass, caption) }}
    </div>
{% endmacro %}

{% macro exampleBox(firstClass, caption, debugClass = "debug-striped-light", borderColorClass = "b--black-10") %}
    <div class="dib p3 ba {{ borderColorClass }} {{ debugClass }}">
        {{ caller(firstClass, caption) }}
    </div>
{% endmacro %}

{% macro exampleNotFound(type, reason) %}
    <div class="o-50" data-example-not-found="{{ type }}">
        (Example not found
        {%- if reason -%}
            , {{ reason }}
        {%- endif -%})
    </div>
{% endmacro %}
