{#
SPDX-FileCopyrightText: 2021 Cas Dijkman

SPDX-License-Identifier: GFDL-1.3-only
#}

{% macro exampleBox(firstClass, caption) %}
    <div class="dib debug-striped-light p3 ba b--black-10">
        {{ caller(firstClass, caption) }}
    </div>
{% endmacro %}

{% macro exampleNotFound(reason) %}
    <div class="o-50">
        (Example not found
        {%- if reason -%}
            , {{ reason }}
        {%- endif -%})
    </div>
{% endmacro %}

{% macro example(type, selectors, declarations) %}
    {% set firstSelector %}{{ selectors | first }}{% endset %}
    {% set firstClass %}{{ firstSelector | getClassFromSelector }}{% endset %}
    {% set readableClasses %}{{ selectors | getClassesFromSelectors | join(" or ") }}{% endset %}
    {% set caption = "Element with class <code class=\"bg-black-05\">" + readableClasses + "</code>" %}

    {% if type === "complex" %}
        {% if firstClass === "bt-between" %}
            <div class="dib ba p3">
                <div class="dif flex-column">
                    {% for i in [1, 2, 3] %}
                        <div class="bg-black-10 p1 {{ firstClass }}">
                            {{ caption | safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elif firstClass === "bl-between" %}
            <div class="dib ba p3">
                <div class="df">
                    {% for i in [1, 2, 3] %}
                        <div class="dib bg-black-10 p1 {{ firstClass }}">
                            {{ caption | safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elif r/pt.-between$/.test(firstClass) %}
            <div class="dib ba bg-black-10 {{ firstClass }}">
                {{ caption | safe }}
            </div>
            <div class="dib ba bg-black-10 {{ firstClass }}">
                {{ caption | safe }}
            </div>
        {% elif r/pl.-between$/.test(firstClass) %}
            <div class="dib ba bg-black-10 {{ firstClass }}">
                {{ caption | safe }}
            </div>
            <div class="dib ba bg-black-10 {{ firstClass }}">
                {{ caption | safe }}
            </div>
        {% elif r/mt.-between$/.test(firstClass) %}
            <div class="dt ba bg-black-10 {{ firstClass }}">
                {{ caption | safe }}
            </div>
            <div class="dt ba bg-black-10 {{ firstClass }}">
                {{ caption | safe }}
            </div>
        {% elif r/ml.-between$/.test(firstClass) %}
            <div class="dib ba bg-black-10 {{ firstClass }}">
                {{ caption | safe }}
            </div>
            <div class="dib ba bg-black-10 {{ firstClass }}">
                {{ caption | safe }}
            </div>
        {% else %}
            {{ exampleNotFound() }}
        {% endif %}
    {% elif type === "reset" %}
        {{ exampleNotFound() }}
    {% elif type === "color" %}
        <div class="dib ba p3">
            <div class="dib p1 {{ firstClass }}">
                {{ caption | safe }}
            </div>
            <br>
            <div class="dib bg-black p1 {{ firstClass }}">
                {{ caption | safe }}
            </div>
        </div>
    {% elif type === "hover-color" %}
        <div class="dib p3 ba">
            <div class="dib {{ firstClass }}">
                {{ caption | safe }}
            </div>
            <br>
            <div class="dib bg-black white {{ firstClass }}">
                {{ caption | safe }}
            </div>
        </div>
    {% elif type === "background-color" %}
        {% call exampleBox(firstClass, caption) %}
            <div class="p3 {{ firstClass }}">
                <div class="pt3-between">{{ caption | safe }}</div>
                <div class="white text-shadow pt3-between">{{ caption | safe }}</div>
            </div>
        {% endcall %}
    {% elif type === "hover-background-color" %}
        <div class="dib p3 ba">
            <div class="dib {{ firstClass }}">
                {{ caption | safe }}
            </div>
            <br>
            <div class="dib white {{ firstClass }}">
                {{ caption | safe }}
            </div>
        </div>
    {% elif type === "border" %}
        <div class="dib bg-black-10 p1 {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "border-width" %}
        <div class="dib p1 ba {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "border-color" %}
        <div class="dt p3">
            <div class="ba p2 {{ firstClass }}">
                {{ caption | safe }}
            </div>
        </div>
        <div class="dt bg-black white p3">
            <div class="ba p2 {{ firstClass }}">
                {{ caption | safe }}
            </div>
        </div>
    {% elif type === "border-style" %}
        <div class="dib ba bw2 p1 {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "font-family" %}
        <div class="{{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "font-style" %}
        <div class="dib p3 ba">
            <div class="{{ firstClass }}">
                {{ caption | safe }}
            </div>
        </div>
    {% elif type === "text-decoration" %}
        <div class="dib p3 ba {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "text-shadow" %}
        <div class="dib p3 ba {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "text-transform" %}
        <div class="dib p3 ba {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "text-align" %}
        <div class="ph3 ba measure {{ firstClass }}">
            <p>
                {{ caption | safe }}
            </p>
            <p class="o-50">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
            </p>
        </div>
    {% elif type === "opacity" %}
        <div class="dib bg-black white p3 {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "transform" %}
        {% macro transformBox(firstClass, caption, containerClass, boxClass, textClass) %}
            <div class="top-0 left-50 translateX-n50 w-third {{ containerClass }}">
                <div class="p2 ba {{ firstClass }} {{ boxClass }}">
                    <span class="{{ textClass }}">
                        {{ caption | safe }}
                    </span>
                </div>
            </div>
        {% endmacro %}

        {% set paddingClass %}
        {% if r/Y-100$/.test(firstClass) %}
            pb6 pb5-m pt3 pt4-s
        {% elif r/Y-n100$/.test(firstClass) %}
            pt6 pt5-m pb3 pb4-s
        {% elif r/Y-50$/.test(firstClass) %}
            pb5 pb4-m pt3 pt4-s
        {% elif r/Y-n50$/.test(firstClass) %}
            pt5 pt4-m pb3 pb4-s
        {% else %}
            pv3
        {% endif %}
        {% endset %}

        <div class="{{ paddingClass }}">
            <div class="relative">
                {# Placeholder #}
                {{ transformBox(firstClass, caption, "hidden") }}

                {# Ghost #}
                {{ transformBox("", caption, "absolute o-40", "debug-striped b--dashed", "hidden") }}

                {# Visible element #}
                {{ transformBox(firstClass, caption, "absolute") }}
            </div>
        </div>
    {% elif type === "transition" %}
        {{ exampleNotFound() }}
    {% elif type === "visibility" %}
        <div class="dib bg-black white p1 {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "box-sizing" %}
        <div class="tc debug-striped w5 p3 mb2">
            Element with class w5
        </div>

        <div class="ba bw5 p2 w5 {{ firstClass }}">
            {{ caption | safe }} and w5
        </div>
    {% elif type === "cursor" %}
        <div class="dib ba p3 {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "miscellaneous" %}
        {% if firstClass === "list-reset" %}
            <ul class="dib ba p3 {{ firstClass }}">
                {% for i in [1, 2, 3] %}
                    <li>List item in <code>&lt;ul&gt;</code> with class {{ firstClass }}</li>
                {% endfor %}
            </ul>
        {% elif r/stretch.*/.test(firstClass) %}
            <div class="measure h4 ba relative">
                <a class="dib p3 debug-striped {{ firstClass }}" href="javascript:;">
                    {{ caption | safe }}
                </a>
            </div>
        {% elif firstClass === "link" %}
            <div class="dib p3 ba">
                <a class="{{ firstClass }}" href="javascript:;">
                    {{ caption | safe }}
                </a>
            </div>
        {% elif firstClass === "dn-empty" %}
            <div class="dib debug-striped ba p3 {{ firstClass }}">
                {{ caption | safe }}
            </div>
            <div class="dib debug-striped ba p3 {{ firstClass }}">
            </div>
        {% else %}
            {{ exampleNotFound() }}
        {% endif %}
    {% elif type === "debug" %}
        <div class="p4 {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "padding" %}
        <div class="dib white bg-black {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "margin" %}
        {% if r/[rlh]-auto$/.test(firstClass) %}
            <div class="ba">
                <div class="w4 white bg-black {{ firstClass }}">
                    {{ caption | safe }}
                </div>
            </div>
        {% else %}
            <div class="dib ba">
                <div class="dib white bg-black {{ firstClass }}">
                    {{ caption | safe }}
                </div>
            </div>
        {% endif %}
    {% elif type === "width" %}
        <div class="ba">
            <div class="dib white bg-black {{ firstClass }}">
                {{ caption | safe }}
            </div>
        </div>
    {% elif type === "height" %}
        <div class="dib white bg-black {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "position" %}
        {{ exampleNotFound() }}
    {% elif type === "coordinates" %}
        <div class="relative ba w-50 h4">
            <div class="dib white bg-black absolute {{ firstClass }}">
                {{ caption | safe }}
            </div>
        </div>
    {% elif type === "display" %}
        <div class="bg-black-10 p3 {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "flex" %}
        {% if r/.*wrap.*/.test(firstClass) %}
            <div class="df measure ba p1 {{ firstClass }}">
                <div class="p2 m1 debug-striped ba">
                    Child of element with class {{ firstClass }}
                </div>
                {% for i in [2, 3, 4, 5] %}
                    <div class="p2 m1 debug-striped ba">
                        Child {{ i }}
                    </div>
                {% endfor %}
            </div>
        {% elif r/^items-.*/.test(firstClass) %}
            <div class="debug-striped p2 df h5 measure {{ firstClass }}">
                <div class="col-6 p2">
                    <div class="ba p2 h-100">
                        Child of element with class {{ firstClass }}
                    </div>
                </div>
                <div class="col-6 p2">
                    <div class="f2 ba p2 h-100">
                        Child 2
                    </div>
                </div>
            </div>
        {% else %}
            {{ exampleNotFound() }}
        {% endif %}
    {% elif type === "flex-direction" %}
        <div class="dif {{ firstClass }}">
            {% for i in [1, 2, 3] %}
                <div class="p2">
                    <div class="bg-black white">
                        Child {{ i }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif type === "float" %}
        <div class="ba w5 h4">
            <div class="dib white bg-black {{ firstClass }}">
                {{ caption | safe }}
            </div>
        </div>
    {% elif type === "border-radius" %}
        <div class="dib p3 ba {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "font-size" %}
        <span class="{{ firstClass }}">
            {{ caption | safe }}
        </span>
    {% elif type === "line-height" %}
        <div class="dib bg-black white">
            <span class="{{ firstClass }}">
                {{ caption | safe }}
            </span>
        </div>
    {% elif type === "font-weight" %}
        <div class="{{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "white-space" %}
        <div class="w4 bg-black-10 p2 ba {{ firstClass }}">
            {{ caption | safe }}
            <!--! -->
            {{ caption | safe }}
            <!--! -->
        </div>
    {% elif type === "vertical-align" %}
        <div class="dib bg-black white lh-extra ph2">
            <div class="dib ba b--red bw2 mr2 {{ firstClass }}"></div>
            {{ caption | safe }}
        </div>
    {% elif type === "tracking" %}
        <span class="{{ firstClass }}">
            {{ caption | safe }}
        </span>
    {% elif type === "measure" %}
        <div class="bg-black white {{ firstClass }}">
            {{ caption | safe }}
        </div>
    {% elif type === "border-collapse" %}
        <table class="ba {{ firstClass }}">
            <thead>
                <td class="ba p1">
                    {{ caption | safe }}
                </td>
            </thead>
        </table>
    {% elif type === "word-break" %}
        <div class="ba ph3 w4 {{ firstClass }}">
            <p>
                {{ caption | safe }}
            </p>
            <p class="o-60">
                ElementWithClass{{ firstClass | title }}ToIllustrateWordBreakingWithLongWords
            </p>
        </div>
    {% elif type === "aspect-ratio" %}
        <div class="df items-center justify-center ba h5 p3 tc {{ firstClass }}">
            <span>{{ caption | safe }}</span>
        </div>
    {% elif type === "background-clip" %}
        <div class="ba f1 b black-20 bg-cover {{ firstClass }}" style="background-image: url('https://place.dog/800/500');">
            {{ caption | safe }}
        </div>
    {% else %}
        {{ exampleNotFound("not yet specified") }}
    {% endif %}
{% endmacro %}
