{#
SPDX-FileCopyrightText: 2025 Cas Dijkman

SPDX-License-Identifier: GFDL-1.3-only
#}

{% import "docs/macros/example.njk" as example %}

{% for file in files | selectattr("isModule") | selectattr("isRaw") %}
    {% if file.name === "border-color" %}
        {% for rule in file.css.stylesheet.rules %}
            {% call example.generic(file, rule) %}
                {% set firstSelector %}{{ rule.selectors | first }}{% endset %}
                {% set firstClass %}{{ firstSelector | getClassFromSelector }}{% endset %}
                {% set readableClasses %}{{ rule.selectors | getClassesFromSelectors | join(" or ") }}{% endset %}
                {% set caption = "Element with class <code>" + readableClasses + "</code>" %}

                <div class="dt p3">
                    <div class="ba p2 {{ firstClass }}">
                        {{ caption | safe }}
                    </div>
                </div>
                <div class="dt bg-black white p3">
                    <div class="ba p2 {{ firstClass }}">
                        {{ caption | safe }}
                    </div>
                </div>
            {% endcall %}
        {% endfor %}
    {% endif %}
{% endfor %}
