{#
    SPDX-FileCopyrightText: 2025 Cas Dijkman

    SPDX-License-Identifier: GFDL-1.3-only
#}

{% import "docs/macros/example.njk" as example %}

{% for file in files | selectattr("isModule") | selectattr("isRaw") %}
    {% if file.name === "float" %}
        {% for rule in file.css.stylesheet.rules %}
            {% call example.generic(file, rule) %}
                {% set firstSelector %}{{ rule.selectors | first }}{% endset %}
                {% set firstClass %}{{ firstSelector | getClassFromSelector }}{% endset %}
                {% set readableClasses %}{{ rule.selectors | getClassesFromSelectors | join(" or ") }}{% endset %}
                {% set caption = "Element with class <code>" + readableClasses + "</code>" %}

                {% if firstClass === "clearfix" %}
                    <div class="mb6 measure">
                        <div class="p3 ba mt3-between {{ firstClass }}">
                            <figure class="w4 m0 fl mr3">
                                <img src="/docs/assets/500x400.jpg"
                                    alt="Image of a bear">
                                <figcaption class="pt2">Floated image</figcaption>
                            </figure>

                            {{ caption | safe }}
                        </div>
                        <div class="p3 ba mt3-between">
                            <figure class="w4 m0 fl mr3">
                                <img src="/docs/assets/500x400.jpg"
                                    alt="Image of a bear">
                                <figcaption class="pt2">Floated image</figcaption>
                            </figure>

                            Element without class <code>clearfix</code>
                        </div>
                    </div>
                {% else %}
                    <div class="p3 ba measure">
                        <figure class="w4 m2 {{ firstClass }}">
                            <img src="/docs/assets/500x400.jpg"
                                alt="Image of a bear">
                            <figcaption class="pt2">{{ caption | safe }}</figcaption>
                        </figure>

                        {{ "" | loremIpsum(1) | safe }}
                    </div>
                {% endif %}
            {% endcall %}
        {% endfor %}
    {% endif %}
{% endfor %}
