{#
SPDX-FileCopyrightText: 2021 Cas Dijkman

SPDX-License-Identifier: GFDL-1.3-only
#}

{% import "docs/macros/example.njk" as example %}

{% for file in files | selectattr("isModule") | selectattr("isRaw") %}
    {% if file.name === "hover-color" %}
        {% for rule in file.css.stylesheet.rules %}
            {% call example.generic(file, rule) %}
                {% set firstSelector %}{{ rule.selectors | first }}{% endset %}
                {% set firstClass %}{{ firstSelector | getClassFromSelector }}{% endset %}
                {% set readableClasses %}{{ rule.selectors | getClassesFromSelectors | join(" or ") }}{% endset %}
                {% set caption = "Element with class <code>" + readableClasses + "</code>" %}

                <div class="dib p3 debug-striped ba {{ firstClass }}">
                    <div class="dib ph3 pv2">
                        {{ caption | safe }}, hover to see effect
                    </div>
                    <br>
                    <div class="dib ph3 pv2 bg-black">
                        {{ caption | safe }}, hover to see effect
                    </div>
                </div>
            {% endcall %}
        {% endfor %}
    {% endif %}
{% endfor %}
