{#
SPDX-FileCopyrightText: 2021 Cas Dijkman

SPDX-License-Identifier: GFDL-1.3-only
#}

{% import "docs/macros/example.njk" as example %}

{% for file in files | selectattr("isModule") | selectattr("isRaw") %}
    {% if file.name === "margin" %}
        {% for rule in file.css.stylesheet.rules %}
            {% call example.generic(file, rule) %}
                {% set firstSelector %}{{ rule.selectors | first }}{% endset %}
                {% set firstClass %}{{ firstSelector | getClassFromSelector }}{% endset %}
                {% set readableClasses %}{{ rule.selectors | getClassesFromSelectors | join(" or ") }}{% endset %}
                {% set caption = "Element with class <code>" + readableClasses + "</code>" %}

                 {% if r/[rlh]-auto$/.test(firstClass) %}
                     <div class="ba">
                         <div class="w4 white bg-black {{ firstClass }}">
                             {{ caption | safe }}
                         </div>
                     </div>
                 {% else %}
                     <div class="dib ba">
                         <div class="dib white bg-black {{ firstClass }}">
                             {{ caption | safe }}
                         </div>
                     </div>
                 {% endif %}
            {% endcall %}
        {% endfor %}
    {% endif %}
{% endfor %}
