@use '../../functions';
@use '../../variables';

@mixin border-style() {
  $global-prefix: variables.$global-prefix;
  $prefix: variables.$border-style-prefix;

  @each $border-style in variables.$border-styles {
    #{functions.construct-class-name($global-prefix, $prefix + $border-style)} {
      border-style: $border-style;
    }
  }
}
