@use '../../functions';
@use '../../variables';
@use 'sass:map';

/*
 * Credit to Adam Morse from Tachyons for the debug grids
 * See http://tachyons.io/docs/debug-grid/
 */

/* stylelint-disable max-line-length */
$dataUrlGrid8: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII=';
$dataUrlGrid16: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVR4AWOgCLz/b0epAa6UGuBOqQHOQHLUgFEDnAbcBZ4UGwDOkiCnkIhdgNgNxAYAiYlD+8sEuo8AAAAASUVORK5CYII=';
$dataUrlGrid8Solid: 'data:image/gif;base64,R0lGODdhCAAIAPEAAADw/wDx/////wAAACwAAAAACAAIAAACDZQvgaeb/lxbAIKA8y0AOw==';
$dataUrlGrid16Solid: 'data:image/gif;base64,R0lGODdhEAAQAPEAAADw/wDx/xXy/////ywAAAAAEAAQAAACIZyPKckYDQFsb6ZqD85jZ2+BkwiRFKehhqQCQgDHcgwEBQA7';
/* stylelint-enable max-line-length */

@mixin debug() {
  // TODO: rename debug-grid-8
  #{functions.construct-class-name(variables.$global-prefix, debug-grid)} {
    background: transparent url($dataUrlGrid8) repeat top left;
  }

  #{functions.construct-class-name(variables.$global-prefix, debug-grid-16)} {
    background: transparent url($dataUrlGrid16) repeat top left;
  }

  #{functions.construct-class-name(variables.$global-prefix, debug-grid-8-solid)} {
    background: white url($dataUrlGrid8Solid) repeat top left;
  }

  #{functions.construct-class-name(variables.$global-prefix, debug-grid-16-solid)} {
    background: white url($dataUrlGrid16Solid) repeat top left;
  }

  /*
   * Credit to Chris Coyier from CSSTricks for the striped background
   * See https://css-tricks.com/stripes-css/
   */

  #{functions.construct-class-name(variables.$global-prefix, debug-striped)} {
    background:
      repeating-linear-gradient(
        -45deg,
        map.get(variables.$colors, 'black-025'),
        map.get(variables.$colors, 'black-025') 10px,
        map.get(variables.$colors, 'black-05') 10px,
        map.get(variables.$colors, 'black-05') 20px
      );
  }

  #{functions.construct-class-name(variables.$global-prefix, debug-striped-light)} {
    background:
      repeating-linear-gradient(
        -45deg,
        map.get(variables.$colors, 'black-025'),
        map.get(variables.$colors, 'black-025') 10px,
        transparent 10px,
        transparent 20px
      );
  }
}
