@use '../../functions';
@use '../../variables';

@mixin hover-color() {
  $global-prefix: variables.$global-prefix;
  $name: variables.$hover-color-name;

  @each $color, $value in variables.$colors {
    #{functions.construct-class-name($global-prefix, hover, $color)}:hover {
      color: $value;
    }
  }
}
