@use '../../functions';
@use '../../variables';

$global-prefix: variables.$global-prefix;
$name: variables.$hover-background-color-name;

@mixin hover-background-color() {
  @each $color, $value in variables.$colors {
    #{functions.construct-class-name($global-prefix, $name, $color)}:hover {
      background-color: $value;
    }
  }
}
