@use '../../variables';
@use 'sass:map';
@use 'sass:string';

@mixin reset() {
  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  button {
    font-size: inherit;
    font-family: inherit;
  }

  img {
    display: block;
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.75rem;
    margin-bottom: 1rem;
    line-height: map.get(variables.$line-height-levels, 'header');
  }

  h1    { font-size: map.get(variables.$font-sizes, 'f1'); }
  h2    { font-size: map.get(variables.$font-sizes, 'f2'); }
  h3    { font-size: map.get(variables.$font-sizes, 'f3'); }
  h4    { font-size: map.get(variables.$font-sizes, 'f4'); }
  h5    { font-size: map.get(variables.$font-sizes, 'f5'); }
  h6    { font-size: map.get(variables.$font-sizes, 'f6'); }
  small { font-size: map.get(variables.$font-sizes, 'small'); }

  p { line-height: map.get(variables.$line-height-levels, 'text'); }

  code { font-family: string.unquote(map.get(variables.$font-families, 'code')); }
}
