@use '../../functions';
@use '../../variables';

$global-prefix: variables.$global-prefix;
$name: variables.$transition-name;

@mixin transition() {
  @each $level, $value in variables.$transition-speeds {
    #{functions.construct-class-name($global-prefix, $name, $level)} {
      transition: transform $value ease-in-out;
    }
  }
}
