@import '../../functions';
@import '../../variables';

/*
   Complex styles are CSS rules that are either context-dependent,
   have more than one selector or more than two properties.
   These styles are not considered atomic CSS.

 */

.bt-between + .bt-between {
  border-top-style: solid;
  border-top-width: 1px;
}

.bl-between + .bl-between {
  border-left-style: solid;
  border-left-width: 1px;
}
