@use '../../functions';
@use '../../variables';

$global-prefix: variables.$global-prefix;
$name: variables.$cursor-name;

@mixin cursor() {
  @each $cursor in variables.$cursors {
    #{functions.construct-class-name($global-prefix, $name, $cursor)} {
      cursor: $cursor;
    }
  }
}
