@import '../../functions';
@import '../../variables';

.cursor-pointer     { cursor: pointer; }
.cursor-text        { cursor: text; }
.cursor-none        { cursor: none; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-progress    { cursor: progress; }
.cursor-wait        { cursor: wait; }
