.sans-serif {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'avenir next',
    avenir,
    'helvetica neue',
    helvetica,
    ubuntu,
    roboto,
    noto,
    'segoe ui',
    arial,
    sans-serif;
}

.serif {
  font-family:
    georgia,
    times,
    serif;
}

$font-family-code: consolas, monaco, monospace;

.code {
  font-family: $font-family-code;
}
