@use '../../functions';
@use '../../variables';

$font-styles: (
  fs-normal: normal,
  fs-italic: italic,
  i: italic
);

@each $name, $value in $font-styles {
  #{functions.construct-class-name(variables.$global-prefix, $name)} {
    font-style: $value;
  }
}
