@use '../../functions';
@use '../../variables';

$global-prefix: variables.$global-prefix;
$name: variables.$hover-color-name;

@mixin hover-color() {
  @each $color, $value in variables.$colors {
    #{functions.construct-class-name(variables.$global-prefix, hover, $color)}:hover {
      color: $value;
    }
  }
}
