@use '../../functions';
@use '../../variables';

$global-prefix: variables.$global-prefix;
$name: variables.$opacity-name;

@mixin opacity() {
  @each $opacity, $value in variables.$opacity-levels {
    #{functions.construct-class-name($global-prefix, $name, $opacity)} {
      opacity: $value;
    }
  }
}
