@use '../../functions';
@use '../../variables';

$text-aligns: (
  l: left,
  r: right,
  c: center,
  j: justify
);

@each $name, $value in $text-aligns {
  #{functions.construct-class-name(variables.$global-prefix, t + $name)} {
    text-align: $value;
  }
}
