@use '../../functions';
@use '../../variables';

$text-decorations: (
  underline: underline,
  line-through: line-through,
  strike: line-through
);

@each $name, $value in $text-decorations {
  #{functions.construct-class-name(variables.$global-prefix, $name)} {
    text-decoration: $value;
  }
}
