@use '../../functions';
@use '../../variables';

$visibilities: (
  visible: visible,
  hidden: hidden,
  invisible: hidden,
  // collapse: collapse
);

@each $name, $value in $visibilities {
  #{functions.construct-class-name(variables.$global-prefix, $name)} {
    visibility: $value;
  }
}
