/*
 * SPDX-FileCopyrightText: 2025 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use 'variables';
@use 'sass:map';
@use 'sass:string';

@mixin media-breakpoint-up($name) {
  $breakpoint-map: map.get(variables.$breakpoints-all, $name);

  @if $name == '' or not $name {
    @content;
  } @else if not $breakpoint-map {
    @error 'Unknown breakpoint: ' + $name;
  } @else {
    $breakpoint: map.get($breakpoint-map, breakpoint);
    $media: map.get($breakpoint-map, media);

    @if not $media {
      $media: screen;
    }

    @if not $breakpoint {
      @media only #{$media} {
        @content;
      }
    } @else {
      @media only #{$media} and (min-width: $breakpoint) {
        @content;
      }
    }
  }
}
