/*!
 * C4S CSS, version {{ version }} <https://c4s.website>
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use './functions';
@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use 'sass:string';

/**********
 * GLOBAL *
 **********/

$global-prefix: '';

$breakpoints-all: (
  's': ( 'breakpoint': 30em ),
  'm': ( 'breakpoint': 40em ),
  'l': ( 'breakpoint': 60em ),
  'h': ( 'breakpoint': 90em ),
  'p': ( 'media': print )
);

// Select breakpoints to use for responsive modules
$breakpoints: map.remove($breakpoints-all, 'p');

/*
 * Select modules to load in the order listed below.
 * Value `false' means non-responsive, `true' means responsive.
 */
$modules: (
  'complex':                false,
  'reset':                  false,
  'miscellaneous':          false,
  'color':                  false,
  'hover-color':            false,
  'background-color':       false,
  'hover-background-color': false,
  'background-clip':        false,
  'background-size':        false,
  'background-repeat':      false,
  'object-fit':             false,
  'user-select':            false,
  'aspect-ratio':           false,
  'border':                 false,
  'border-width':           false,
  'border-color':           false,
  'border-style':           false,
  'font-family':            false,
  'font-style':             false,
  'text-decoration':        false,
  'text-shadow':            false,
  'text-transform':         false,
  'text-align':             false,
  'word-break':             false,
  'opacity':                false,
  'transform':              false,
  'transition':             false,
  'visibility':             false,
  'box-sizing':             false,
  'cursor':                 false,
  'z-index':                false,
  'hover':                  false,
  'table':                  false,
  'spanning-breakpoints':   false,
  'debug':                  false,
  'padding':                true,
  'margin':                 true,
  'width':                  true,
  'max-width':              true,
  'height':                 true,
  'position':               true,
  'coordinates':            true,
  'display':                true,
  'flex':                   true,
  'flex-direction':         true,
  'grid':                   true,
  'overflow':               true,
  'float':                  true,
  'border-radius':          true,
  'font-size':              true,
  'line-height':            true,
  'font-weight':            true,
  'white-space':            true,
  'vertical-align':         true,
  'letter-spacing':         true,
  'measure':                true
);

/**********
 * SHARED *
 **********/

/*
 * Colors
 *
 * Used in border-color, background-color, color, hover-background-color and hover-color modules
 */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$colors: (
  /*
   * Black/gray/white
   */
  'black':         $black,
  'near-black':    hsl(0, 0%, 6.7%),
  'dark-gray':     hsl(0, 0%, 20%),
  'mid-gray':      hsl(0, 0%, 33.3%),
  'gray':          hsl(0, 0%, 46.7%),
  'silver':        hsl(0, 0%, 60%),
  'light-silver':  hsl(0, 0%, 66.7%),
  'moon-gray':     hsl(0, 0%, 80%),
  'light-gray':    hsl(0, 0%, 93.3%),
  'near-white':    hsl(0, 0%, 95.7%),
  'white':         $white,
  /*
   * Red
   */
  'dark-red':      hsl(357, 96.6%, 46.1%),
  'red':           hsl(3, 100%, 60.6%),
  'light-red':     hsl(8, 100%, 68%),
  'washed-red':    hsl(0, 100%, 93.7%),
  /*
   * Orange/yellow
   */
  'orange':        hsl(23, 100%, 50%),
  'gold':          hsl(43, 100%, 50%),
  'yellow':        hsl(51, 100%, 50%),
  'light-yellow':  hsl(53, 91.1%, 82.4%),
  'washed-yellow': hsl(51, 100%, 96.1%),
  /*
   * Purple/pink
   */
  'purple':        hsl(265, 57.9%, 41%),
  'light-purple':  hsl(267, 84.6%, 66.9%),
  'dark-pink':     hsl(320, 100%, 41.8%),
  'hot-pink':      hsl(324, 100%, 62.7%),
  'pink':          hsl(324, 100%, 75.1%),
  'light-pink':    hsl(326, 100%, 82%),
  /*
   * Green
   */
  'dark-green':    hsl(158, 72.5%, 27.1%),
  'green':         hsl(158, 74.2%, 38%),
  'light-green':   hsl(158, 65.8%, 77.1%),
  'washed-green':  hsl(157, 84%, 95.1%),
  /*
   * Blue
   */
  'navy':          hsl(216, 100%, 13.3%),
  'dark-blue':     hsl(214, 100%, 31%),
  'blue':          hsl(214, 71.2%, 53.7%),
  'light-blue':    hsl(209, 100%, 79.4%),
  'lightest-blue': hsl(203, 100%, 90.2%),
  'washed-blue':   hsl(173, 100%, 98.2%),
  /*
   * Black opacity variations
   */
  'black-90':      color.scale($black, $alpha: -10%),
  'black-80':      color.scale($black, $alpha: -20%),
  'black-70':      color.scale($black, $alpha: -30%),
  'black-60':      color.scale($black, $alpha: -40%),
  'black-50':      color.scale($black, $alpha: -50%),
  'black-40':      color.scale($black, $alpha: -60%),
  'black-30':      color.scale($black, $alpha: -70%),
  'black-20':      color.scale($black, $alpha: -80%),
  'black-10':      color.scale($black, $alpha: -90%),
  'black-05':      color.scale($black, $alpha: -95%),
  'black-025':     color.scale($black, $alpha: -97.5%),
  'black-0125':    color.scale($black, $alpha: -98.75%),
  /*
   * White opacity variations
   */
  'white-90':      color.scale($white, $alpha: -10%),
  'white-80':      color.scale($white, $alpha: -20%),
  'white-70':      color.scale($white, $alpha: -30%),
  'white-60':      color.scale($white, $alpha: -40%),
  'white-50':      color.scale($white, $alpha: -50%),
  'white-40':      color.scale($white, $alpha: -60%),
  'white-30':      color.scale($white, $alpha: -70%),
  'white-20':      color.scale($white, $alpha: -80%),
  'white-10':      color.scale($white, $alpha: -90%),
  'white-05':      color.scale($white, $alpha: -95%),
  'white-025':     color.scale($white, $alpha: -97.5%),
  'white-0125':    color.scale($white, $alpha: -98.75%),
  /*
   * Transparent
   */
  'transparent': transparent,
  /*
   * Keywords
   */
  'inherit': inherit
);

/*
 * Spacers
 *
 * Used in complex, margin and padding modules
 */
$spacer-base: 2rem;
$spacer-levels: (
  '0': 0,
  '1': $spacer-base * functions.nth-power-of-two(-3),
  '2': $spacer-base * functions.nth-power-of-two(-2),
  '3': $spacer-base * functions.nth-power-of-two(-1),
  '4': $spacer-base,
  '5': $spacer-base * functions.nth-power-of-two(1),
  '6': $spacer-base * functions.nth-power-of-two(2),
  '7': $spacer-base * functions.nth-power-of-two(3)
);

/*
 * Sizers
 *
 * Used in height, width and max-width modules
 */
$sizer-base: 1rem;
$sizer-scale: (
  '0':           0,
  '1':           $sizer-base,
  '2':           $sizer-base * functions.nth-power-of-two(1),
  '3':           $sizer-base * functions.nth-power-of-two(2),
  '4':           $sizer-base * functions.nth-power-of-two(3),
  '5':           $sizer-base * functions.nth-power-of-two(4),
  '6':           $sizer-base * functions.nth-power-of-two(5)
);

$widths: map.merge(
  $sizer-scale,
  (
    '-10':         10%,
    '-20':         20%,
    '-30':         30%,
    '-third':      math.div(100%, 3),
    '-40':         40%,
    '-50':         50%,
    '-60':         60%,
    '-two-thirds': math.div(200%, 3),
    '-70':         70%,
    '-80':         80%,
    '-90':         90%,
    '-100':        100%
  )
);

$max-widths: map.merge(
  $sizer-scale,
  (
    '7':           $sizer-base * functions.nth-power-of-two(5) * 1.5,
    '8':           $sizer-base * functions.nth-power-of-two(6),
    '9':           $sizer-base * functions.nth-power-of-two(6) * 1.5,
    '-100':        100%,
    '-none':       none
  )
);

$heights: map.merge(
  $sizer-scale,
  (
    '-25':         25%,
    '-50':         50%,
    '-75':         75%,
    '-100':        100%,
    '-inherit':    inherit
  )
);

/***********
 * MODULES *
 ***********/

/*
 * Aspect ratio
 */
$aspect-ratio-name: ratio;

// Map of aspect ratios; name followed by number value or list of two values, x and y as in x/y aspect.
$aspect-ratios: (
  '1x1':  1,
  '16x9': 16 9
);

/*
 * Background clip
 */
$background-clip-name: bg-clip;
$background-clips: (
  'text':    text,
  // 'border':  border-box,
  // 'padding': padding-box,
  // 'content': content-box,
);

/*
 * Background color
 */
$background-color-name: bg;

/*
 * Background repeat
 */
$background-repeat-name: bg;
$background-repeats: (
  'no-repeat': no-repeat,
  // 'repeat-x': repeat-x,
  // 'repeat-y': repeat-y,
  // 'repeat': repeat,
);

/*
 * Background size
 */
$background-size-name: bg;
$background-sizes: (
  'cover':   cover,
  'contain': contain
);

/*
 * Border color
 */
$border-color-prefix: b--;

/*
 * Border radius
 */
$border-radius-prefix: br;
$border-radius-base: 1rem;
$border-radius-levels: (
  '0':     0,
  '1':     $border-radius-base * functions.nth-power-of-two(-3),
  '2':     $border-radius-base * functions.nth-power-of-two(-2),
  '3':     $border-radius-base * functions.nth-power-of-two(-1),
  '4':     $border-radius-base,
  '-100':  100%,
  '-pill': 9999px
);

/*
 * Border
 */
$-border-style-default: solid;
$-border-width-default: 1px;
$borders: (
  'ba': (
    border-direction: null,
    border-style: $-border-style-default,
    border-width: $-border-width-default
  ),
  'bt': (
    border-direction: top,
    border-style: $-border-style-default,
    border-width: $-border-width-default
  ),
  'br': (
    border-direction: right,
    border-style: $-border-style-default,
    border-width: $-border-width-default
  ),
  'bb': (
    border-direction: bottom,
    border-style: $-border-style-default,
    border-width: $-border-width-default
  ),
  'bl': (
    border-direction: left,
    border-style: $-border-style-default,
    border-width: $-border-width-default
  ),
  'bn': (
    border-direction: null,
    border-style: none,
    border-width: 0
  )
);

/*
 * Border styles
 */
$border-style-prefix: b--;
$border-styles: (
  'solid':  solid,
  'dotted': dotted,
  'dashed': dashed,
  'double': double,
  'groove': groove,
  'ridge':  ridge,
  'inset':  inset,
  'outset': outset
);

/*
 * Border width
 */
$border-width-prefix: bw;
$border-width-base: 1rem;
$border-widths: (
  '1': $border-width-base * functions.nth-power-of-two(-3),
  '2': $border-width-base * functions.nth-power-of-two(-2),
  '3': $border-width-base * functions.nth-power-of-two(-1),
  '4': $border-width-base,
  '5': $border-width-base * functions.nth-power-of-two(1)
);

/*
 * Box sizing
 */
$box-sizings: (
  'border-box':  border-box,
  'content-box': content-box
);

/*
 * Coordinates
 */
$coordinate-spacer-levels: (
  '0':   0,
  '1':   1rem,
  '2':   2rem,
  '50':  50%,
  '100': 100%
);
$coordinate-directions: (
  'top':    top,
  'right':  right,
  'bottom': bottom,
  'left':   left
);

/*
 * Cursor
 */
$cursor-name: cursor;
$cursors: (
  'pointer':     pointer,
  'text':        text,
  'none':        none,
  'not-allowed': not-allowed,
  'progress':    progress,
  'wait':        wait
);

/*
 * Debug
 */
$debug-grid-name: debug-grid;
/* stylelint-disable max-line-length */
$debug-grids: (
  '': (
    'data-url': 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII=',
    'background': transparent
  ),
  '16': (
    'data-url': 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVR4AWOgCLz/b0epAa6UGuBOqQHOQHLUgFEDnAbcBZ4UGwDOkiCnkIhdgNgNxAYAiYlD+8sEuo8AAAAASUVORK5CYII=',
    'background': transparent
  ),
  'solid-8': (
    'data-url': 'data:image/gif;base64,R0lGODdhCAAIAPEAAADw/wDx/////wAAACwAAAAACAAIAAACDZQvgaeb/lxbAIKA8y0AOw==',
    'background': white
  ),
  'solid-16': (
    'data-url': 'data:image/gif;base64,R0lGODdhEAAQAPEAAADw/wDx/xXy/////ywAAAAAEAAQAAACIZyPKckYDQFsb6ZqD85jZ2+BkwiRFKehhqQCQgDHcgwEBQA7',
    'background': white
  ),
);
/* stylelint-enable max-line-length */

$debug-striped-name: debug-striped;
$debug-striped-items: (
  '':      [ map.get($colors, 'black-025'), map.get($colors, 'black-05') ],
  'light': [ map.get($colors, 'black-025'), transparent ],
  'black': [ map.get($colors, 'black'), transparent ]
);

/*
 * Display
 */
$displays: (
  'db':   block,
  'di':   inline,
  'dib':  inline-block,
  'dn':   none,
  'dt':   table,
  'dtc':  table-cell,
  'df':   flex,
  'flex': flex,
  'dif':  inline-flex,
  'dg':   grid,
  'grid': grid,
  'dc':   contents,
  'dfr':  flow-root
);

/*
 * Flex direction
 */
$flex-direction-name: flex;
$flex-directions: (
  'column':         column,
  'row':            row,
  'column-reverse': column-reverse,
  'row-reverse':    row-reverse
);

/*
 * Flex
 */
$flex-wrap-name: flex;
$flex-wraps: (
  'wrap':         wrap,
  'nowrap':       nowrap,
  'wrap-reverse': wrap-reverse
);

$flex-align-items-name: items;
$flex-align-items: (
  'start':    flex-start,
  'end':      flex-end,
  'center':   center,
  'baseline': baseline,
  'stretch':  stretch
);

$flex-align-self-name: self;
$flex-align-selfs: (
  'start':    flex-start,
  'end':      flex-end,
  'center':   center,
  'baseline': baseline,
  'stretch':  stretch
);

$flex-align-content-name: content;
$flex-align-contents: (
  'start':   flex-start,
  'end':     flex-end,
  'center':  center,
  'between': space-between,
  'around':  space-around,
  'stretch': stretch
);

$flex-justify-content-name: justify;
$flex-justify-contents: (
  'start':   flex-start,
  'end':     flex-end,
  'center':  center,
  'between': space-between,
  'around':  space-around
);

$flex-grow-name: flex-grow;
$flex-grows: (
  '0': 0,
  '1': 1
);

$flex-shrink-name: flex-shrink;
$flex-shrinks: (
  '0': 0,
  '1': 1
);

$flex-order-name: order;
$flex-orders: (
  '1':    1,
  '2':    2,
  '3':    3,
  '4':    4,
  '5':    5,
  '6':    6,
  '7':    7,
  '8':    8,
  '9':    9,
  'last': 99999
);

/*
 * Float
 */
$float-prefix: f;
$floats: (
  'l': left,
  'r': right,
  'n': none
);

/*
 * Font family
 */
/* stylelint-disable max-line-length */
$font-families: (
  'sans-serif': '-apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif',
  'serif': 'georgia, times, serif',
  'code': 'consolas, monaco, monospace'
);
/* stylelint-enable max-line-length */

/*
 * Font size
 */
$font-size-base: 1em;
$font-scaling-factor: 1.25;
$font-sizes: (
  'f-headline':    6rem,
  'f-subheadline': 5rem,
  'f1':            $font-size-base * functions.power($font-scaling-factor, 5),
  'f2':            $font-size-base * functions.power($font-scaling-factor, 4),
  'f3':            $font-size-base * functions.power($font-scaling-factor, 3),
  'f4':            $font-size-base * functions.power($font-scaling-factor, 2),
  'f5':            $font-size-base * functions.power($font-scaling-factor, 1),
  'f6':            $font-size-base,
  'small':         $font-size-base * functions.power($font-scaling-factor, -1)
);

/*
 * Font style
 */
$font-styles: (
  'fs-normal': normal,
  'fs-italic': italic,
  'i':         italic
);

/*
 * Font weight
 */
$font-weight-levels: (
  'fw-100':     100,
  'fw-200':     200,
  'fw-300':     300,
  'fw-400':     400,
  'fw-500':     500,
  'fw-600':     600,
  'fw-700':     700,
  'fw-800':     800,
  'fw-900':     900,
  'fw-lighter': lighter,
  'fw-bolder':  bolder,
  /*
   * Aliases
   */
  'fw-normal':  400,
  'b':          700 // Bold
);

/*
 * Grid
 */
$column-name: col;
$row-name: row;
$number-of-columns: 12;
$columns: ('auto': auto);

@for $i from 1 through $number-of-columns {
  $current-column: ('#{$i}': math.div(100%, $number-of-columns) * $i);
  $columns: map.merge($columns, $current-column);
}

/*
 * Height
 */
$height-prefix: h;
$view-height-prefix: vh;
$view-heights: (
  '-25':  25vh,
  '-50':  50vh,
  '-75':  75vh,
  '-100': 100vh
);

/*
 * Hover background color
 */
$hover-background-color-name: hover-bg;

/*
 * Hover color
 */
$hover-color-name: hover;

/*
 * Letter spacing
 */
$letter-spacings: (
  'tracked':       .1em,
  'tracked-tight': -.05em,
  'tracked-mega':  .25em
);

/*
 * Line height
 */
$line-height-name: lh;
$line-height-levels: (
  'solid':  1,
  'header': 1.15,
  'text':   1.5,
  'extra':  2
);

/*
 * Margin
 */
$margin-levels: map.merge($spacer-levels, ('-auto': auto));
$margin-levels-negative: (
  '1': - $spacer-base * functions.nth-power-of-two(-3),
  '2': - $spacer-base * functions.nth-power-of-two(-2),
  '3': - $spacer-base * functions.nth-power-of-two(-1),
  '4': - $spacer-base,
  '5': - $spacer-base * functions.nth-power-of-two(1),
);

$margins: (
  'm':  (
    'properties': margin,
    'levels': $spacer-levels
  ),
  'mt': (
    'properties': margin-top,
    'levels': $margin-levels
  ),
  'mr': (
    'properties': margin-right,
    'levels': $margin-levels
  ),
  'mb': (
    'properties': margin-bottom,
    'levels': $margin-levels
  ),
  'ml': (
    'properties': margin-left,
    'levels': $margin-levels
  ),
  'mh': (
    'properties': [margin-left margin-right],
    'levels': $margin-levels
  ),
  // Use alias center for mh-auto
  '': (
    'properties': [margin-left margin-right],
    'levels': ('center': auto)
  ),
  'mv': (
    'properties': [margin-top margin-bottom],
    'levels': $spacer-levels
  ),
  // Negative margins
  'n':  (
    'properties': margin,
    'levels': $margin-levels-negative
  ),
  'nt': (
    'properties': margin-top,
    'levels': $margin-levels-negative
  ),
  'nr': (
    'properties': margin-right,
    'levels': $margin-levels-negative
  ),
  'nb': (
    'properties': margin-bottom,
    'levels': $margin-levels-negative
  ),
  'nl': (
    'properties': margin-left,
    'levels': $margin-levels-negative
  ),
  'nh': (
    'properties': [margin-left margin-right],
    'levels': $margin-levels-negative
  ),
  'nv': (
    'properties': [margin-top margin-bottom],
    'levels': $margin-levels-negative
  ),
);

/*
 * Max width
 */
$max-width-prefix: mw;

/*
 * Measure
 */
$measures: (
  'measure-narrow': 20em,
  'measure':        30em,
  'measure-wide':   34em
);

/*
 * Object fit
 */
$object-fits: (
  'contain':    contain,
  'cover':      cover,
  'fill':       fill,
  // 'none':       none,
  // 'scale-down': scale-down,
);

/*
 * Opacity
 */
$opacity-name: o;
$opacity-levels: (
  '100': 1,
  '90':  .9,
  '80':  .8,
  '70':  .7,
  '60':  .6,
  '50':  .5,
  '40':  .4,
  '30':  .3,
  '20':  .2,
  '10':  .1,
  '05':  .05,
  '025': .025,
  '0':   0
);

/*
 * Overflow
 */
$overflow-name: overflow;
$-overflow-map: (
  'visible': visible,
  'hidden':  hidden,
  'scroll':  scroll,
  'auto':    auto
);
$overflows: (
  '':  ('property': overflow,   'map': $-overflow-map),
  'x': ('property': overflow-x, 'map': $-overflow-map),
  'y': ('property': overflow-y, 'map': $-overflow-map),
);

/*
 * Padding
 */
$paddings: (
  'p':  (
    'properties': padding,
    'levels': $spacer-levels
  ),
  'pt': (
    'properties': padding-top,
    'levels': $spacer-levels
  ),
  'pr': (
    'properties': padding-right,
    'levels': $spacer-levels
  ),
  'pb': (
    'properties': padding-bottom,
    'levels': $spacer-levels
  ),
  'pl': (
    'properties': padding-left,
    'levels': $spacer-levels
  ),
  'ph': (
    'properties': [padding-left padding-right],
    'levels': $spacer-levels
  ),
  'pv': (
    'properties': [padding-top padding-bottom],
    'levels': $spacer-levels
  )
);

/*
 * Position
 */
$positions: (
  'static':   static,
  'absolute': absolute,
  'relative': relative,
  'fixed':    fixed,
  'sticky':   sticky
);

/*
 * Reset
 */
$document-bg-color: null;
$document-scroll-behavior: smooth;

/*
 * Table
 */
$table-stripe-name: stripe;
$table-stripes: (
  'light': map.get($colors, 'black-05'),
  'dark':  map.get($colors, 'black-10')
);

/*
 * Text align
 */
$text-aligns: (
  'tl': left,
  'tr': right,
  'tc': center,
  'tj': justify
);

/*
 * Text decoration
 */
$text-decorations: (
  'underline':    underline,
  'line-through': line-through,
  'strike':       line-through,
  'no-underline': none
);

/*
 * Text shadow
 */
$text-shadows: (
  'text-shadow': .1em .1em .1em map.get($colors, 'black-60')
);

/*
 *  Text transform
 */
$text-transforms: (
  'capitalize': capitalize,
  'uppercase':  uppercase
);

/*
 * Transform
 */
$-translate-levels: (
  '0':    0,
  '100':  100%,
  'n100': -100%,
  '50':   50%,
  'n50':  -50%
);
$transform-translate-horizontal-name: 'translateX';
$transform-translate-horizontal-levels: $-translate-levels;
$transform-translate-vertical-name: 'translateY';
$transform-translate-vertical-levels: $-translate-levels;

/*
 * Transition
 */
$transition-name: transition;
$transition-properties: (
  '':          all,
  'transform': transform
);
$transition-speeds: (
  'slow':   .5s,
  'medium': .25s,
  'fast':   .15s
);

/*
 * User select
 */
$user-select-name: user-select;
$user-selects: (
  'none': none,
  'all': all,
  'text': text,
  // 'auto': auto,
  // 'contain': contain,
);

/*
 * Vertical align
 */
$vertical-align-name: v;
$vertical-aligns: (
  'mid':         middle,
  'middle':      middle,
  'top':         top,
  'bottom':      bottom,
  // 'base':        baseline,
  // 'text-top':    text-top,
  // 'text-bottom': text-bottom,
  // 'sub':         sub,
  // 'super':       super
);

/*
 * Visibility
 */
$visibilities: (
  'visible':   visible,
  'hidden':    hidden,
  'invisible': hidden,
  // 'collapse':  collapse
);

/*
 * White space
 */
$white-spaces: (
  'nowrap':    nowrap,
  'pre':       pre,
  // 'ws-normal': normal
);

/*
 * Width
 */
$width-prefix: w;

/*
 * Word break
 */
$word-break-name: word-break;
$word-breaks: (
  'all': break-all,
  'word': break-word,
  'normal': normal
);

/*
 * Z-index
 */
$z-index-name: z;
$z-indexes: ('last': 9999);
$z-index-start: -1;
$z-index-end: 9;

@for $i from $z-index-start through $z-index-end {
  $current-z-index: (functions.number-to-class-name($i): $i);
  $z-indexes: map.merge($z-indexes, $current-z-index);
}

/*****************
 * Configuration *
 *****************/

/*
 * The generated configure mixin below is updated with 'update-configuration.sh'
 * Do not manually edit the configure mixin or add any code below the mixin
 */

// Start generated configure mixin code
/* stylelint-disable max-line-length, at-rule-empty-line-before */
@mixin configure($global-prefix: null, $breakpoints-all: null, $breakpoints: null, $modules: null, $black: null, $white: null, $colors: null, $spacer-base: null, $spacer-levels: null, $sizer-base: null, $sizer-scale: null, $widths: null, $max-widths: null, $heights: null, $aspect-ratio-name: null, $aspect-ratios: null, $background-clip-name: null, $background-clips: null, $background-color-name: null, $background-repeat-name: null, $background-repeats: null, $background-size-name: null, $background-sizes: null, $border-color-prefix: null, $border-radius-prefix: null, $border-radius-base: null, $border-radius-levels: null, $borders: null, $border-style-prefix: null, $border-styles: null, $border-width-prefix: null, $border-width-base: null, $border-widths: null, $box-sizings: null, $coordinate-spacer-levels: null, $coordinate-directions: null, $cursor-name: null, $cursors: null, $debug-grid-name: null, $debug-grids: null, $debug-striped-name: null, $debug-striped-items: null, $display-prefix: null, $displays: null, $flex-direction-name: null, $flex-directions: null, $flex-wrap-name: null, $flex-wraps: null, $flex-align-items-name: null, $flex-align-items: null, $flex-align-self-name: null, $flex-align-selfs: null, $flex-align-content-name: null, $flex-align-contents: null, $flex-justify-content-name: null, $flex-justify-contents: null, $flex-grow-name: null, $flex-grows: null, $flex-shrink-name: null, $flex-shrinks: null, $flex-order-name: null, $flex-orders: null, $float-prefix: null, $floats: null, $font-families: null, $font-size-base: null, $font-scaling-factor: null, $font-sizes: null, $font-styles: null, $font-weight-levels: null, $column-name: null, $row-name: null, $number-of-columns: null, $columns: null, $height-prefix: null, $view-height-prefix: null, $view-heights: null, $hover-background-color-name: null, $hover-color-name: null, $letter-spacings: null, $line-height-name: null, $line-height-levels: null, $margin-levels: null, $margin-levels-negative: null, $margins: null, $max-width-prefix: null, $measures: null, $object-fits: null, $opacity-name: null, $opacity-levels: null, $overflow-name: null, $overflows: null, $paddings: null, $positions: null, $document-bg-color: null, $document-scroll-behavior: null, $table-stripe-name: null, $table-stripes: null, $text-aligns: null, $text-decorations: null, $text-shadows: null, $text-transforms: null, $transform-translate-horizontal-name: null, $transform-translate-horizontal-levels: null, $transform-translate-vertical-name: null, $transform-translate-vertical-levels: null, $transition-name: null, $transition-properties: null, $transition-speeds: null, $user-select-name: null, $user-selects: null, $vertical-align-name: null, $vertical-aligns: null, $visibilities: null, $white-spaces: null, $width-prefix: null, $word-break-name: null, $word-breaks: null, $z-index-name: null, $z-indexes: null, $z-index-start: null, $z-index-end: null, ) { @if $global-prefix != null { $global-prefix: $global-prefix !global; } @if $breakpoints-all != null { $breakpoints-all: $breakpoints-all !global; } @if $breakpoints != null { $breakpoints: $breakpoints !global; } @if $modules != null { $modules: $modules !global; } @if $black != null { $black: $black !global; } @if $white != null { $white: $white !global; } @if $colors != null { $colors: $colors !global; } @if $spacer-base != null { $spacer-base: $spacer-base !global; } @if $spacer-levels != null { $spacer-levels: $spacer-levels !global; } @if $sizer-base != null { $sizer-base: $sizer-base !global; } @if $sizer-scale != null { $sizer-scale: $sizer-scale !global; } @if $widths != null { $widths: $widths !global; } @if $max-widths != null { $max-widths: $max-widths !global; } @if $heights != null { $heights: $heights !global; } @if $aspect-ratio-name != null { $aspect-ratio-name: $aspect-ratio-name !global; } @if $aspect-ratios != null { $aspect-ratios: $aspect-ratios !global; } @if $background-clip-name != null { $background-clip-name: $background-clip-name !global; } @if $background-clips != null { $background-clips: $background-clips !global; } @if $background-color-name != null { $background-color-name: $background-color-name !global; } @if $background-repeat-name != null { $background-repeat-name: $background-repeat-name !global; } @if $background-repeats != null { $background-repeats: $background-repeats !global; } @if $background-size-name != null { $background-size-name: $background-size-name !global; } @if $background-sizes != null { $background-sizes: $background-sizes !global; } @if $border-color-prefix != null { $border-color-prefix: $border-color-prefix !global; } @if $border-radius-prefix != null { $border-radius-prefix: $border-radius-prefix !global; } @if $border-radius-base != null { $border-radius-base: $border-radius-base !global; } @if $border-radius-levels != null { $border-radius-levels: $border-radius-levels !global; } @if $borders != null { $borders: $borders !global; } @if $border-style-prefix != null { $border-style-prefix: $border-style-prefix !global; } @if $border-styles != null { $border-styles: $border-styles !global; } @if $border-width-prefix != null { $border-width-prefix: $border-width-prefix !global; } @if $border-width-base != null { $border-width-base: $border-width-base !global; } @if $border-widths != null { $border-widths: $border-widths !global; } @if $box-sizings != null { $box-sizings: $box-sizings !global; } @if $coordinate-spacer-levels != null { $coordinate-spacer-levels: $coordinate-spacer-levels !global; } @if $coordinate-directions != null { $coordinate-directions: $coordinate-directions !global; } @if $cursor-name != null { $cursor-name: $cursor-name !global; } @if $cursors != null { $cursors: $cursors !global; } @if $debug-grid-name != null { $debug-grid-name: $debug-grid-name !global; } @if $debug-grids != null { $debug-grids: $debug-grids !global; } @if $debug-striped-name != null { $debug-striped-name: $debug-striped-name !global; } @if $debug-striped-items != null { $debug-striped-items: $debug-striped-items !global; } @if $display-prefix != null { $display-prefix: $display-prefix !global; } @if $displays != null { $displays: $displays !global; } @if $flex-direction-name != null { $flex-direction-name: $flex-direction-name !global; } @if $flex-directions != null { $flex-directions: $flex-directions !global; } @if $flex-wrap-name != null { $flex-wrap-name: $flex-wrap-name !global; } @if $flex-wraps != null { $flex-wraps: $flex-wraps !global; } @if $flex-align-items-name != null { $flex-align-items-name: $flex-align-items-name !global; } @if $flex-align-items != null { $flex-align-items: $flex-align-items !global; } @if $flex-align-self-name != null { $flex-align-self-name: $flex-align-self-name !global; } @if $flex-align-selfs != null { $flex-align-selfs: $flex-align-selfs !global; } @if $flex-align-content-name != null { $flex-align-content-name: $flex-align-content-name !global; } @if $flex-align-contents != null { $flex-align-contents: $flex-align-contents !global; } @if $flex-justify-content-name != null { $flex-justify-content-name: $flex-justify-content-name !global; } @if $flex-justify-contents != null { $flex-justify-contents: $flex-justify-contents !global; } @if $flex-grow-name != null { $flex-grow-name: $flex-grow-name !global; } @if $flex-grows != null { $flex-grows: $flex-grows !global; } @if $flex-shrink-name != null { $flex-shrink-name: $flex-shrink-name !global; } @if $flex-shrinks != null { $flex-shrinks: $flex-shrinks !global; } @if $flex-order-name != null { $flex-order-name: $flex-order-name !global; } @if $flex-orders != null { $flex-orders: $flex-orders !global; } @if $float-prefix != null { $float-prefix: $float-prefix !global; } @if $floats != null { $floats: $floats !global; } @if $font-families != null { $font-families: $font-families !global; } @if $font-size-base != null { $font-size-base: $font-size-base !global; } @if $font-scaling-factor != null { $font-scaling-factor: $font-scaling-factor !global; } @if $font-sizes != null { $font-sizes: $font-sizes !global; } @if $font-styles != null { $font-styles: $font-styles !global; } @if $font-weight-levels != null { $font-weight-levels: $font-weight-levels !global; } @if $column-name != null { $column-name: $column-name !global; } @if $row-name != null { $row-name: $row-name !global; } @if $number-of-columns != null { $number-of-columns: $number-of-columns !global; } @if $columns != null { $columns: $columns !global; } @if $height-prefix != null { $height-prefix: $height-prefix !global; } @if $view-height-prefix != null { $view-height-prefix: $view-height-prefix !global; } @if $view-heights != null { $view-heights: $view-heights !global; } @if $hover-background-color-name != null { $hover-background-color-name: $hover-background-color-name !global; } @if $hover-color-name != null { $hover-color-name: $hover-color-name !global; } @if $letter-spacings != null { $letter-spacings: $letter-spacings !global; } @if $line-height-name != null { $line-height-name: $line-height-name !global; } @if $line-height-levels != null { $line-height-levels: $line-height-levels !global; } @if $margin-levels != null { $margin-levels: $margin-levels !global; } @if $margin-levels-negative != null { $margin-levels-negative: $margin-levels-negative !global; } @if $margins != null { $margins: $margins !global; } @if $max-width-prefix != null { $max-width-prefix: $max-width-prefix !global; } @if $measures != null { $measures: $measures !global; } @if $object-fits != null { $object-fits: $object-fits !global; } @if $opacity-name != null { $opacity-name: $opacity-name !global; } @if $opacity-levels != null { $opacity-levels: $opacity-levels !global; } @if $overflow-name != null { $overflow-name: $overflow-name !global; } @if $overflows != null { $overflows: $overflows !global; } @if $paddings != null { $paddings: $paddings !global; } @if $positions != null { $positions: $positions !global; } @if $document-bg-color != null { $document-bg-color: $document-bg-color !global; } @if $document-scroll-behavior != null { $document-scroll-behavior: $document-scroll-behavior !global; } @if $table-stripe-name != null { $table-stripe-name: $table-stripe-name !global; } @if $table-stripes != null { $table-stripes: $table-stripes !global; } @if $text-aligns != null { $text-aligns: $text-aligns !global; } @if $text-decorations != null { $text-decorations: $text-decorations !global; } @if $text-shadows != null { $text-shadows: $text-shadows !global; } @if $text-transforms != null { $text-transforms: $text-transforms !global; } @if $transform-translate-horizontal-name != null { $transform-translate-horizontal-name: $transform-translate-horizontal-name !global; } @if $transform-translate-horizontal-levels != null { $transform-translate-horizontal-levels: $transform-translate-horizontal-levels !global; } @if $transform-translate-vertical-name != null { $transform-translate-vertical-name: $transform-translate-vertical-name !global; } @if $transform-translate-vertical-levels != null { $transform-translate-vertical-levels: $transform-translate-vertical-levels !global; } @if $transition-name != null { $transition-name: $transition-name !global; } @if $transition-properties != null { $transition-properties: $transition-properties !global; } @if $transition-speeds != null { $transition-speeds: $transition-speeds !global; } @if $user-select-name != null { $user-select-name: $user-select-name !global; } @if $user-selects != null { $user-selects: $user-selects !global; } @if $vertical-align-name != null { $vertical-align-name: $vertical-align-name !global; } @if $vertical-aligns != null { $vertical-aligns: $vertical-aligns !global; } @if $visibilities != null { $visibilities: $visibilities !global; } @if $white-spaces != null { $white-spaces: $white-spaces !global; } @if $width-prefix != null { $width-prefix: $width-prefix !global; } @if $word-break-name != null { $word-break-name: $word-break-name !global; } @if $word-breaks != null { $word-breaks: $word-breaks !global; } @if $z-index-name != null { $z-index-name: $z-index-name !global; } @if $z-indexes != null { $z-indexes: $z-indexes !global; } @if $z-index-start != null { $z-index-start: $z-index-start !global; } @if $z-index-end != null { $z-index-end: $z-index-end !global; } }
/* stylelint-enable max-line-length, at-rule-empty-line-before */
