/*!
 * C4S CSS, version 0.6.4 <https://c4s.cdijkman.nl>
 * SPDX-FileCopyrightText: 2024 Cas Dijkman
 * SPDX-License-Identifier: GPL-3.0-only
 */

@use './functions';
@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use 'sass:string';

/**********
 * GLOBAL *
 **********/

$global-prefix: '';

$breakpoints-all: (
  's': ( 'breakpoint': 30em ),
  'm': ( 'breakpoint': 40em ),
  'l': ( 'breakpoint': 60em ),
  'h': ( 'breakpoint': 90em ),
  'p': ( 'media': print )
);

// Select breakpoints to use for responsive modules
$breakpoints: map.remove($breakpoints-all, 'p');

/*
 * Select modules to load in the order listed below.
 * Value `false' means non-responsive, `true' means responsive.
 */
$modules: (
  'complex':                false,
  'reset':                  false,
  // 'forms':               false,
  'miscellaneous':          false,
  'hover':                  false,
  'color':                  false,
  'hover-color':            false,
  'background-color':       false,
  'hover-background-color': false,
  'background-attachment':  false,
  'background-clip':        false,
  'background-position':    false,
  'background-size':        false,
  'background-repeat':      false,
  'object-fit':             false,
  'user-select':            false,
  'aspect-ratio':           false,
  'border':                 false,
  'border-width':           false,
  'border-color':           false,
  'border-style':           false,
  'font-family':            false,
  'font-style':             false,
  'resize':                 false,
  'text-decoration':        false,
  'text-shadow':            false,
  'text-transform':         false,
  'word-break':             false,
  'opacity':                false,
  'transform':              false,
  'transition':             false,
  'visibility':             false,
  'box-shadow':             false,
  'box-sizing':             false,
  'cursor':                 false,
  'z-index':                false,
  'table':                  false,
  'spanning-breakpoints':   false,
  'debug':                  false,
  'text-align':             true,
  'padding':                true,
  'margin':                 true,
  'width':                  true,
  'max-width':              true,
  'height':                 true,
  'max-height':             true,
  'min-height':             true,
  'position':               true,
  'coordinates':            true,
  'grid':                   true,
  'flex':                   true,
  'flex-direction':         true,
  'display':                true,
  'overflow':               true,
  'float':                  true,
  'border-radius':          true,
  'font-size':              true,
  'line-height':            true,
  'font-weight':            true,
  'white-space':            true,
  'vertical-align':         true,
  'letter-spacing':         true,
  'measure':                true
);

/**********
 * SHARED *
 **********/

/*
 * Colors
 *
 * Used in border-color, background-color, color, hover-background-color and hover-color modules
 */
$black: #000;
$white: #fff;

$colors: (
  /*
   * Black/gray/white
   */
  'black':         $black,
  'near-black':    #111,
  'dark-gray':     #333,
  'mid-gray':      #555,
  'gray':          #777,
  'silver':        #999,
  'light-silver':  #aaa,
  'moon-gray':     #ccc,
  'light-gray':    #eee,
  'near-white':    #f4f4f4,
  'white':         $white,
  /*
   * Red
   */
  'dark-red':      #e7040f,
  'red':           #ff4136,
  'light-red':     #ff725c,
  'washed-red':    #ffdfdf,
  /*
   * Orange/yellow
   */
  'orange':        #ff6300,
  'gold':          #ffb700,
  'yellow':        #ffd700,
  'light-yellow':  #fbf1a9,
  'washed-yellow': #fffceb,
  /*
   * Purple/pink
   */
  'purple':        #5e2ca5,
  'light-purple':  #a463f2,
  'dark-pink':     #d5008f,
  'hot-pink':      #ff41b4,
  'pink':          #ff80cc,
  'light-pink':    #ffa3d7,
  /*
   * Green
   */
  'dark-green':    #137752,
  'green':         #19a974,
  'light-green':   #9eebcf,
  'washed-green':  #e8fdf5,
  /*
   * Blue
   */
  'navy':          #001b44,
  'dark-blue':     #00449e,
  'blue':          #357edd,
  'light-blue':    #96ccff,
  'lightest-blue': #cdecff,
  'washed-blue':   #f6fffe,
  /*
   * Black opacity variations
   */
  'black-90':      color.scale($black, $alpha: -10%),
  'black-80':      color.scale($black, $alpha: -20%),
  'black-70':      color.scale($black, $alpha: -30%),
  'black-60':      color.scale($black, $alpha: -40%),
  'black-50':      color.scale($black, $alpha: -50%),
  'black-40':      color.scale($black, $alpha: -60%),
  'black-30':      color.scale($black, $alpha: -70%),
  'black-20':      color.scale($black, $alpha: -80%),
  'black-10':      color.scale($black, $alpha: -90%),
  'black-05':      color.scale($black, $alpha: -95%),
  'black-025':     color.scale($black, $alpha: -97.5%),
  'black-0125':    color.scale($black, $alpha: -98.75%),
  /*
   * White opacity variations
   */
  'white-90':      color.scale($white, $alpha: -10%),
  'white-80':      color.scale($white, $alpha: -20%),
  'white-70':      color.scale($white, $alpha: -30%),
  'white-60':      color.scale($white, $alpha: -40%),
  'white-50':      color.scale($white, $alpha: -50%),
  'white-40':      color.scale($white, $alpha: -60%),
  'white-30':      color.scale($white, $alpha: -70%),
  'white-20':      color.scale($white, $alpha: -80%),
  'white-10':      color.scale($white, $alpha: -90%),
  'white-05':      color.scale($white, $alpha: -95%),
  'white-025':     color.scale($white, $alpha: -97.5%),
  'white-0125':    color.scale($white, $alpha: -98.75%),
  /*
   * Transparent
   */
  'transparent': transparent,
  /*
   * Keywords
   */
  'color-inherit': inherit
);

/*
 * Spacers
 *
 * Used in complex, margin and padding modules
 */
$spacer-base: 2rem;
$spacer-levels: (
  '0': 0,
  '1': $spacer-base * functions.nth-power-of-two(-3),
  '2': $spacer-base * functions.nth-power-of-two(-2),
  '3': $spacer-base * functions.nth-power-of-two(-1),
  '4': $spacer-base,
  '5': $spacer-base * functions.nth-power-of-two(1),
  '6': $spacer-base * functions.nth-power-of-two(2),
  '7': $spacer-base * functions.nth-power-of-two(3)
);

/*
 * Sizers
 *
 * Used in height, width and max-width modules
 */
$sizer-base: 1rem;
$sizer-scale: (
  '0':           0,
  '1':           $sizer-base,
  '2':           $sizer-base * functions.nth-power-of-two(1),
  '3':           $sizer-base * functions.nth-power-of-two(2),
  '4':           $sizer-base * functions.nth-power-of-two(3),
  '5':           $sizer-base * functions.nth-power-of-two(4),
  '6':           $sizer-base * functions.nth-power-of-two(5)
);

$widths: map.merge(
  $sizer-scale,
  (
    '-10':         10%,
    '-20':         20%,
    '-25':         25%,
    '-30':         30%,
    '-third':      math.div(100%, 3),
    '-40':         40%,
    '-50':         50%,
    '-60':         60%,
    '-two-thirds': math.div(200%, 3),
    '-70':         70%,
    '-75':         75%,
    '-80':         80%,
    '-90':         90%,
    '-100':        100%,
    '-auto':       auto
  )
);

$max-widths: map.merge(
  $sizer-scale,
  (
    '7':           $sizer-base * functions.nth-power-of-two(5) * 1.5,
    '8':           $sizer-base * functions.nth-power-of-two(6),
    '9':           $sizer-base * functions.nth-power-of-two(6) * 1.5,
    '-100':        100%,
    '-none':       none
  )
);

$heights: map.merge(
  $sizer-scale,
  (
    '-0':          0,
    '-25':         25%,
    '-50':         50%,
    '-75':         75%,
    '-100':        100%,
    '-auto':       auto,
    '-inherit':    inherit
  )
);

/***********
 * MODULES *
 ***********/

/*
 * Aspect ratio
 */
$aspect-ratio-name: ratio;

// Map of aspect ratios; name followed by number value or list of two values, x and y as in x/y aspect.
$aspect-ratios: (
  '1x1':  1,
  '16x9': 16 9
);

/*
 * Background attachment
 */
$background-attachment-name: bg;
$background-attachments: (
  'scroll': scroll,
  'fixed':  fixed,
  'local':  local
);

/*
 * Background clip
 */
$background-clip-name: bg-clip;
$background-clips: (
  'text':    text,
  // 'border':  border-box,
  // 'padding': padding-box,
  // 'content': content-box,
);

/*
 * Background color
 */
$background-color-name: bg;

/*
 * Background position
 */
$background-position-name: bg;
$background-positions: (
  'top':    top,
  'center': center
);

/*
 * Background repeat
 */
$background-repeat-name: bg;
$background-repeats: (
  'no-repeat': no-repeat,
  // 'repeat-x': repeat-x,
  // 'repeat-y': repeat-y,
  // 'repeat': repeat,
);

/*
 * Background size
 */
$background-size-name: bg;
$background-sizes: (
  'cover':   cover,
  'contain': contain
);

/*
 * Border color
 */
$border-color-prefix: b--;

/*
 * Border radius
 */
$border-radius-prefix: br;
$border-radius-base: 1rem;
$border-radius-levels: (
  '0':        0,
  '1':        $border-radius-base * functions.nth-power-of-two(-3),
  '2':        $border-radius-base * functions.nth-power-of-two(-2),
  '3':        $border-radius-base * functions.nth-power-of-two(-1),
  '4':        $border-radius-base,
  '5':        $border-radius-base * functions.nth-power-of-two(1),
  '6':        $border-radius-base * functions.nth-power-of-two(2),
  '-100':     100%,
  '-pill':    9999999px,
  '--top':    (bottom-right: 0, bottom-left: 0),
  '--right':  (top-left: 0, bottom-left: 0),
  '--bottom': (top-right: 0, top-left: 0),
  '--left':   (top-right: 0, bottom-right: 0)
);

/*
 * Border
 */
$-border-style-default: solid;
$-border-width-default: 1px;
$borders: (
  'ba': (
    border-direction: null,
    border-style: $-border-style-default,
    border-width: $-border-width-default
  ),
  'bt': (
    border-direction: top,
    border-style: $-border-style-default,
    border-width: $-border-width-default
  ),
  'br': (
    border-direction: right,
    border-style: $-border-style-default,
    border-width: $-border-width-default
  ),
  'bb': (
    border-direction: bottom,
    border-style: $-border-style-default,
    border-width: $-border-width-default
  ),
  'bl': (
    border-direction: left,
    border-style: $-border-style-default,
    border-width: $-border-width-default
  ),
  'bn': (
    border-direction: null,
    border-style: none,
    border-width: 0
  )
);

/*
 * Border styles
 */
$border-style-prefix: b--;
$border-styles: (
  'solid':  solid,
  'dotted': dotted,
  'dashed': dashed,
  'double': double,
  'groove': groove,
  'ridge':  ridge,
  'inset':  inset,
  'outset': outset
);

/*
 * Border width
 */
$border-width-prefix: bw;
$border-width-base: 1rem;
$border-widths: (
  '1': $border-width-base * functions.nth-power-of-two(-3),
  '2': $border-width-base * functions.nth-power-of-two(-2),
  '3': $border-width-base * functions.nth-power-of-two(-1),
  '4': $border-width-base,
  '5': $border-width-base * functions.nth-power-of-two(1)
);

/*
 * Box shadow
 */
$box-shadow-name: 'shadow';
$box-shadows: (
  'small': 0 .125rem .5rem .125rem rgba(0 0 0 / 20%),
  '':      0 .5rem 1rem .125rem rgba(0 0 0 / 20%),
  'big':   0 1rem 2rem .25rem rgba(0 0 0 / 20%)
);

/*
 * Box sizing
 */
$box-sizings: (
  'border-box':  border-box,
  'content-box': content-box
);

/*
 * Coordinates
 */
$coordinate-spacer-levels: (
  '0':   0,
  '1':   1rem,
  '2':   2rem,
  '50':  50%,
  '100': 100%
);
$coordinate-directions: (
  'top':    top,
  'right':  right,
  'bottom': bottom,
  'left':   left
);

/*
 * Cursor
 */
$cursor-name: cursor;
$cursors: (
  'pointer':     pointer,
  'text':        text,
  'none':        none,
  'not-allowed': not-allowed,
  'progress':    progress,
  'wait':        wait
);

/*
 * Debug
 */
$debug-grid-name: debug-grid;
/* stylelint-disable max-line-length */
$debug-grids: (
  '': (
    'data-url': 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII=',
    'background': transparent
  ),
  '16': (
    'data-url': 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVR4AWOgCLz/b0epAa6UGuBOqQHOQHLUgFEDnAbcBZ4UGwDOkiCnkIhdgNgNxAYAiYlD+8sEuo8AAAAASUVORK5CYII=',
    'background': transparent
  ),
  'solid-8': (
    'data-url': 'data:image/gif;base64,R0lGODdhCAAIAPEAAADw/wDx/////wAAACwAAAAACAAIAAACDZQvgaeb/lxbAIKA8y0AOw==',
    'background': white
  ),
  'solid-16': (
    'data-url': 'data:image/gif;base64,R0lGODdhEAAQAPEAAADw/wDx/xXy/////ywAAAAAEAAQAAACIZyPKckYDQFsb6ZqD85jZ2+BkwiRFKehhqQCQgDHcgwEBQA7',
    'background': white
  ),
);
/* stylelint-enable max-line-length */

$debug-striped-name: debug-striped;
$debug-striped-items: (
  '':      [ map.get($colors, 'black-025'), map.get($colors, 'black-05') ],
  'light': [ map.get($colors, 'black-025'), transparent ],
  'black': [ map.get($colors, 'black'), transparent ]
);

/*
 * Display
 */
$displays: (
  'db':           block,
  'block':        block,
  'di':           inline,
  'inline':       inline,
  'dib':          inline-block,
  'inline-block': inline-block,
  'dn':           none,
  'dt':           table,
  'dtc':          table-cell,
  'df':           flex,
  'flex':         flex,
  'dif':          inline-flex,
  'inline-flex':  inline-flex,
  'dg':           grid,
  'grid':         grid,
  'dc':           contents,
  'dfr':          flow-root
);

/*
 * Flex direction
 */
$flex-direction-name: flex;
$flex-directions: (
  'column':         column,
  'row':            row,
  'column-reverse': column-reverse,
  'row-reverse':    row-reverse
);

/*
 * Flex
 */
$flex-wrap-name: flex;
$flex-wraps: (
  'wrap':         wrap,
  'nowrap':       nowrap,
  'wrap-reverse': wrap-reverse
);

$flex-align-items-name: items;
$flex-align-items: (
  'start':    flex-start,
  'end':      flex-end,
  'center':   center,
  'baseline': baseline,
  'stretch':  stretch
);

$flex-align-self-name: self;
$flex-align-selfs: (
  'start':    flex-start,
  'end':      flex-end,
  'center':   center,
  'baseline': baseline,
  'stretch':  stretch
);

$flex-align-content-name: content;
$flex-align-contents: (
  'start':   flex-start,
  'end':     flex-end,
  'center':  center,
  'between': space-between,
  'around':  space-around,
  'stretch': stretch
);

$flex-justify-content-name: justify;
$flex-justify-contents: (
  'start':   flex-start,
  'end':     flex-end,
  'center':  center,
  'between': space-between,
  'around':  space-around,
  'evenly':  space-evenly
);

$flex-grow-name: flex-grow;
$flex-grows: (
  '0': 0,
  '1': 1
);

$flex-shrink-name: flex-shrink;
$flex-shrinks: (
  '0': 0,
  '1': 1
);

$flex-order-name: order;
$flex-orders: (
  '1':    1,
  '2':    2,
  '3':    3,
  '4':    4,
  '5':    5,
  '6':    6,
  '7':    7,
  '8':    8,
  '9':    9,
  'last': 99999
);

/*
 * Float
 */
$float-prefix: f;
$floats: (
  'l': left,
  'r': right,
  'n': none
);

/*
 * Font family
 */
/* stylelint-disable max-line-length */
$font-families: (
  'sans-serif':   '-apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif',
  'serif':        'georgia, times, serif',
  'code':         'consolas, monaco, monospace',
  'font-inherit': inherit
);
/* stylelint-enable max-line-length */

/*
 * Font size
 */
$font-size-base: 1em;
$font-scaling-factor: 1.25;
$font-sizes: (
  'f-headline':    6rem,
  'f-subheadline': 5rem,
  'f1':            $font-size-base * functions.power($font-scaling-factor, 5),
  'f2':            $font-size-base * functions.power($font-scaling-factor, 4),
  'f3':            $font-size-base * functions.power($font-scaling-factor, 3),
  'f4':            $font-size-base * functions.power($font-scaling-factor, 2),
  'f5':            $font-size-base * functions.power($font-scaling-factor, 1),
  'f6':            $font-size-base,
  'small':         $font-size-base * functions.power($font-scaling-factor, -1)
);

/*
 * Font style
 */
$font-styles: (
  'fs-normal': normal,
  'fs-italic': italic,
  'i':         italic
);

/*
 * Font weight
 */
$font-weight-levels: (
  'fw-100':     100,
  'fw-200':     200,
  'fw-300':     300,
  'fw-400':     400,
  'fw-500':     500,
  'fw-600':     600,
  'fw-700':     700,
  'fw-800':     800,
  'fw-900':     900,
  'fw-lighter': lighter,
  'fw-bolder':  bolder,
  /*
   * Aliases
   */
  'fw-normal':  400,
  'b':          700 // Bold
);

/*
 * Grid
 */
$column-name: col;
$row-name: row;
$number-of-columns: 12;
$columns: ('auto': auto);

@for $i from 1 through $number-of-columns {
  $columns-per-row: math.div($number-of-columns, $i);
  $width: math.div(100%, $number-of-columns) * $i;
  $width-with-gap: calc($width - var(--column-gap, 0px) + var(--column-gap, 0px) / $columns-per-row);

  @if $i == $number-of-columns {
    $columns: map.merge($columns, ('#{$i}': 100%));
  } @else {
    $columns: map.merge($columns, ('#{$i}': $width-with-gap));
  }
}

/*
 * Height
 */
$height-prefix: h;
$view-height-prefix: vh;
$view-heights: (
  '-25':  25vh,
  '-50':  50vh,
  '-75':  75vh,
  '-100': 100vh
);

/*
 * Hover background color
 */
$hover-background-color-name: hover-bg;

/*
 * Hover color
 */
$hover-color-name: hover;

/*
 * Letter spacing
 */
$letter-spacings: (
  'tracked':       .1em,
  'tracked-tight': -.05em,
  'tracked-mega':  .25em
);

/*
 * Line height
 */
$line-height-name: lh;
$line-height-levels: (
  'solid': 1,
  'title': 1.15,
  'copy':  1.5,
  'extra': 2
);

/*
 * Margin
 */
$margin-levels: map.merge($spacer-levels, ('-auto': auto));
$margin-levels-negative: (
  '1': - $spacer-base * functions.nth-power-of-two(-3),
  '2': - $spacer-base * functions.nth-power-of-two(-2),
  '3': - $spacer-base * functions.nth-power-of-two(-1),
  '4': - $spacer-base,
  '5': - $spacer-base * functions.nth-power-of-two(1),
);

$margins: (
  'm':  (
    'properties': margin,
    'levels': $spacer-levels
  ),
  'mt': (
    'properties': margin-top,
    'levels': $margin-levels
  ),
  'mr': (
    'properties': margin-right,
    'levels': $margin-levels
  ),
  'mb': (
    'properties': margin-bottom,
    'levels': $margin-levels
  ),
  'ml': (
    'properties': margin-left,
    'levels': $margin-levels
  ),
  'mh': (
    'properties': [margin-left margin-right],
    'levels': $margin-levels
  ),
  // Use alias center for mh-auto
  '': (
    'properties': [margin-left margin-right],
    'levels': ('center': auto)
  ),
  'mv': (
    'properties': [margin-top margin-bottom],
    'levels': $spacer-levels
  ),
  // Negative margins
  'n':  (
    'properties': margin,
    'levels': $margin-levels-negative
  ),
  'nt': (
    'properties': margin-top,
    'levels': $margin-levels-negative
  ),
  'nr': (
    'properties': margin-right,
    'levels': $margin-levels-negative
  ),
  'nb': (
    'properties': margin-bottom,
    'levels': $margin-levels-negative
  ),
  'nl': (
    'properties': margin-left,
    'levels': $margin-levels-negative
  ),
  'nh': (
    'properties': [margin-left margin-right],
    'levels': $margin-levels-negative
  ),
  'nv': (
    'properties': [margin-top margin-bottom],
    'levels': $margin-levels-negative
  )
);

/*
 * Min height/Max height
 */
$min-height-prefix: min;
$max-height-prefix: max;
$min-max-heights: (
  'h-100':  100%,
  'h-none': none,
  'vh-100': 100vh
);

/*
 * Max width
 */
$max-width-prefix: mw;

/*
 * Measure
 */
$measures: (
  'measure-narrow': 20em,
  'measure':        30em,
  'measure-wide':   34em
);

/*
 * Object fit
 */
$object-fits: (
  'contain':    contain,
  'cover':      cover,
  'fill':       fill,
  // 'none':       none,
  // 'scale-down': scale-down,
);

/*
 * Opacity
 */
$opacity-name: o;
$opacity-levels: (
  '100': 1,
  '90':  .9,
  '80':  .8,
  '70':  .7,
  '60':  .6,
  '50':  .5,
  '40':  .4,
  '30':  .3,
  '20':  .2,
  '10':  .1,
  '05':  .05,
  '025': .025,
  '0':   0
);

/*
 * Overflow
 */
$overflow-name: overflow;
$-overflow-map: (
  'visible': visible,
  'hidden':  hidden,
  'scroll':  scroll,
  'auto':    auto
);
$overflows: (
  '':  ('property': overflow,   'map': $-overflow-map),
  'x': ('property': overflow-x, 'map': $-overflow-map),
  'y': ('property': overflow-y, 'map': $-overflow-map),
);

/*
 * Padding
 */
$paddings: (
  'p':  (
    'properties': padding,
    'levels': $spacer-levels
  ),
  'pt': (
    'properties': padding-top,
    'levels': $spacer-levels
  ),
  'pr': (
    'properties': padding-right,
    'levels': $spacer-levels
  ),
  'pb': (
    'properties': padding-bottom,
    'levels': $spacer-levels
  ),
  'pl': (
    'properties': padding-left,
    'levels': $spacer-levels
  ),
  'ph': (
    'properties': [padding-left padding-right],
    'levels': $spacer-levels
  ),
  'pv': (
    'properties': [padding-top padding-bottom],
    'levels': $spacer-levels
  )
);

/*
 * Position
 */
$positions: (
  'static':   static,
  'absolute': absolute,
  'relative': relative,
  'fixed':    fixed,
  'sticky':   sticky
);

/*
 * Reset
 */
$prevent-reset-class: 'no-reset';
$document-bg-color: null;
$enable-smooth-scroll: true;
$force-smooth-scroll: false;

/*
 * Resize
 */
$resize-name: 'resize';
$resizes: (
  '':  both,
  'h': horizontal,
  'v': vertical
);

/*
 * Table
 */
$table-stripe-name: stripe;
$table-stripes: (
  'light': map.get($colors, 'black-05'),
  'dark':  map.get($colors, 'black-10')
);

/*
 * Text align
 */
$text-aligns: (
  'tl': left,
  'tr': right,
  'tc': center,
  'tj': justify
);

/*
 * Text decoration
 */
$text-decorations: (
  'underline':    underline,
  'line-through': line-through,
  'strike':       line-through,
  'no-underline': none
);

/*
 * Text shadow
 */
$text-shadows: (
  'text-shadow': .1em .1em .1em map.get($colors, 'black-60')
);

/*
 *  Text transform
 */
$text-transforms: (
  'capitalize': capitalize,
  'uppercase':  uppercase
);

/*
 * Transform
 */
$-translate-levels: (
  '0':    0,
  '100':  100%,
  'n100': -100%,
  '50':   50%,
  'n50':  -50%
);
$transform-translate-horizontal-name: 'translateX';
$transform-translate-horizontal-levels: $-translate-levels;
$transform-translate-vertical-name: 'translateY';
$transform-translate-vertical-levels: $-translate-levels;

/*
 * Transition
 */
$transition-name: transition;
$transition-properties: (
  '':          all,
  'transform': transform
);
$transition-speeds: (
  'slow':   .5s,
  'medium': .25s,
  'fast':   .15s
);

/*
 * User select
 */
$user-select-name: user-select;
$user-selects: (
  'none': none,
  'all': all,
  'text': text,
  // 'auto': auto,
  // 'contain': contain,
);

/*
 * Vertical align
 */
$vertical-align-name: v;
$vertical-aligns: (
  'mid':         middle,
  'middle':      middle,
  'top':         top,
  'bottom':      bottom,
  // 'base':        baseline,
  // 'text-top':    text-top,
  // 'text-bottom': text-bottom,
  // 'sub':         sub,
  // 'super':       super
);

/*
 * Visibility
 */
$visibilities: (
  'visible':   visible,
  'hidden':    hidden,
  'invisible': hidden,
  // 'collapse':  collapse
);

/*
 * White space
 */
$white-spaces: (
  'nowrap':    nowrap,
  'pre':       pre,
  'pre-wrap':  pre-wrap,
  // 'ws-normal': normal
);

/*
 * Width
 */
$width-prefix: w;
$view-width-prefix: vw;
$view-widths: (
  '-25':  25vw,
  '-50':  50vw,
  '-75':  75vw,
  '-100': 100vw
);

/*
 * Word break
 */
$word-break-name: word-break;
$word-breaks: (
  'all': break-all,
  'word': break-word,
  'normal': normal
);

/*
 * Z-index
 */
$z-index-name: z;
$z-indexes: ('last': 9999);
$z-index-start: -1;
$z-index-end: 9;

@for $i from $z-index-start through $z-index-end {
  $current-z-index: (functions.number-to-class-name($i): $i);
  $z-indexes: map.merge($z-indexes, $current-z-index);
}
