/*
 * SPDX-FileCopyrightText: 2021 Cas Dijkman
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

/*
 * Medium viewports
 */

@use 'variables';
@use 'load-modules';
@use 'sass:map';

@include variables.configure(
  // Do configuration
);

$breakpoint: m;
$breakpoints: (
  $breakpoint: map.get(variables.$breakpoints, $breakpoint)
);

@include load-modules.load-modules(null, $breakpoints);
