/*
 * Print media
 */

@use 'variables';
@use 'modules/load-modules';
@use 'sass:map';

@include variables.configure(
  // Do configuration
);

$breakpoint: p;
$breakpoints: (
  $breakpoint: map.get(variables.$breakpoints, $breakpoint)
);

@include load-modules.load-modules(null, $breakpoints);
